<div class="withdrawal-history">
	<div class="box-padding">

		<div class="table-responsive">
			<table class="table custom-table table-hover">
				<thead>
					<tr>
						<th>Sr No.</th>
						<th>Notification</th>
						<th>Created At</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let notification of notificationList;let i = index;">
						<td>{{i+1}}</td>
						<td>{{notification.message}}</td>
						<td>{{notification.createdAt}}</td>
						<td *ngIf="notification.notificationType == 'withdraw_request'"><a href="javascript:;" class="btn btn-primary btn-xs"
							 [routerLink]="['/user/withdrawal-history']">Details</a></td>
						<td *ngIf="notification.notificationType == 'order_status'"><a href="javascript:;" class="btn btn-primary btn-xs"
							 [routerLink]="['/user/transaction-history/'+notification.tradeId+'']">Details</a></td>
						<td *ngIf="notification.notificationType == 'btc_trade_status'">
							<a href="javascript:;" class="btn btn-primary btn-xs" [routerLink]="['/user/trade-history/'+notification.tradeId+'']">Details</a>
						</td>
						<td *ngIf="notification.notificationType != 'withdraw_request' && notification.notificationType != 'order_status' && notification.notificationType != 'btc_trade_status'"></td>
					</tr>
					<!-- <tr>
			      <td>#94234942327281</td>
			      <td>Aflac</td>
			      <td>54534</td>
			      <td>10/08/2018</td>
			      <td><a href="javascript:;" class="text-success">Complete</a></td>
			      <td><a href="javascript:;" class="btn btn-primary btn-xs" [routerLink]="['/user/transaction-detail']">Details</a></td>
			    </tr>
			    <tr>
			      <td>#94234942327281</td>
			      <td>Cosco</td>
			      <td>15000</td>
			      <td>10/08/2018</td>
			      <td><a href="javascript:;" class="text-danger">Reject</a></td>
			      <td><a href="javascript:;" class="btn btn-primary btn-xs" [routerLink]="['/user/transaction-detail']">Details</a></td>
			    </tr> -->

				</tbody>
			</table>
			<div class="no-records" *ngIf="noDataFlag">
				<p>No Data Found</p>
			</div>
		</div>
		<!-- <div class="custom-pagination" *ngIf="totalPage > 1">
			<div class="row ">
				<div class="col-md-12">
					<ul class="pagination">
						<li class="page-item" (click)="changePage(1)"><a class="page-link">Previous</a></li>
						<li *ngFor="let page of ' '.repeat(totalPage).split('');let i= index;" [class]="(i+1) == data.page ? 'page-item active':'page-item'"
						 (click)="changePage(i+1)"><a class="page-link">{{i + 1}}</a></li>
						<li class="page-item" (click)="changePage(totalPage)"><a class="page-link">Next</a></li>
					</ul>
				</div>
			</div>
		</div> -->
		<!-- <pagination [totalItems]="1" *ngIf="pagination && ListView && projectList?.length > 0" [itemsPerPage]="1" [(ngModel)]="1" [maxSize]="10"
			class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true"
			[rotate]="false" (pageChanged)="changePage($event)" (numPages)="numPages = $event"></pagination> -->
		<div class="custom-pagination" *ngIf="totalPage > 1">
			<div class="row ">
				<div class="col-md-12">
					<pagination [totalItems]="totalPage" [itemsPerPage]="1" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
					 previousText="Next" nextText="Previous" firstText="&laquo;" lastText="&raquo;" [boundaryLinks]="true" [rotate]="false"
					 (ngModelChange)="changePage()"></pagination>
				</div>
			</div>
		</div>
	</div>
</div>