<div class="row">
    <div class="col-sm-6 col-12">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="firstname" id="fname" required #firstname="ngModel" [(ngModel)]="user.address" (ngModelChange)="valueChanged()" >
          <label for="fname">Address</label>
        </div>
        <!-- <div class="error-block" *ngIf="((submittedReg || firstname.touched || firstname.dirty) && firstname.invalid)">
            {{showError('firstname', firstname.errors)}}
        </div> -->
      </div>
    </div>
    <div class="col-sm-6 col-12">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="city" id="lname" required #city="ngModel" [(ngModel)]="user.city" (ngModelChange)="valueChanged()">
          <label for="lname">City</label>
        </div>
        <!-- <div class="error-block" *ngIf="((submittedReg || city.touched || city.dirty) && city.invalid)">
            {{showError('city', city.errors)}}
        </div> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-12">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="state" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="user.state" id="rstate" required #state="ngModel"(ngModelChange)="valueChanged()" >
          <label for="state">State</label>
        </div>
        <!-- <div class="error-block" *ngIf="((submittedReg || state.touched || state.dirty) && state.invalid)">
          {{showError('state', state.errors)}}
        </div> -->
      </div>
    </div>

    <div class="col-sm-6 col-12">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="country" [(ngModel)]="user.country" id="country" required #country="ngModel" (ngModelChange)="valueChanged()">
          <label for="rphonenumber">Country</label>
        </div>
        <!-- <div class="error-block" *ngIf="((submittedReg || country.touched || country.dirty) && country.invalid)">
          {{showError('country', country.errors)}}
        </div> -->
      </div>
    </div>
  </div>
