<div class="faq-page">
  <div class="faq-head">
    <div class="faq-search">
      <h3>How can we help you?</h3>
      <input type="text" class="form-control" placeholder="Type keywords to find answers" id="search" name="search" #search="ngModel"
        [(ngModel)]="searchText">
      <p>You can also browse the topics below to find what you are looking for.</p>
    </div>
  </div>

  <div class="box-padding question-list">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h5>{{categoryName}}</h5>

        <ul class="faq-list">
          <li *ngFor="let faq of FaqList | filter : searchText;"><a href="javascript:;" [routerLink]="['/public/faq',faq.uniqueId,categoryId]">{{faq.title}}</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/public/faq']">Faq Home</a>
      </div>
    </div>
  </div>
</div>
