<form #forgotPassForm='ngForm' (ngSubmit)='forgotPassword(forgotPassForm,user)'>
    <div class="loginpage">
      <h3>Forgot Password</h3>
      <div class="row">
        <div class="col-12">
            <div class="form-group">
              <div class="input-effect">
                <input class='form-control' pattern="[^@\s]+@[^@\s]+\.[^@\s]+" type="text" name="emailId" [(ngModel)]="user.emailId" id="email" required #emailId="ngModel" >
                <label for="email">{{'EnterEmail' | translate}}</label>
              </div>
              <div class="error-block" *ngIf="((submittedLogin || emailId.touched || emailId.dirty) && emailId.invalid)">
                  {{showError('email', emailId.errors)}}
              </div>
            </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <button class="btn btn-primary btn-block btn-lg" type="submit" >Submit</button>
          </div>

          <!-- <div class="form-group text-center">
            Don't have an account?
            <a href="javascript:;" class="link" [routerLink]="['/public/register']" >Register here.</a>
          </div> -->
        </div>
      </div>
    </div>
</form>
