<form #resetForm='ngForm' (ngSubmit)='resetPassword(resetForm,data)'>
    <div class="loginpage">
      <h3>Reset Password</h3>
      <div class="row">
        <div class="col-12">

            <div class="form-group">
              <div class="input-effect">
                <input class='form-control' type="text" name="password" [(ngModel)]="data.password" autocomplete="off" id="password" required #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[@!$*]).{6,10}" maxlength="10">
                <label for="password">Enter Password</label>
              </div>
              <div class="error-block" *ngIf="((submittedReg || password.touched || password.dirty) && password.invalid)">
                {{showError('password', password.errors)}}
              </div>
            </div>
        </div>
        <div class="col-12">
          <span>Your password must be 6-10 characters long, contain atleast one letters and numbers and special characters<b>(!, @, $, *)</b>, and must not contain spaces or emoji.</span>
        </div>
        <div class="col-12">
          <div class="form-group">
            <div class="input-effect">
              <input class='form-control' type="password" name="confirmPassword" [(ngModel)]="data.confirmPassword" id="confirmPassword" required #confirmPassword="ngModel">
              <label for="confirmPassword">Confirm password</label>
            </div>
            <div class="error-block" *ngIf="((submittedReg || confirmPassword.touched || confirmPassword.dirty) && confirmPassword.invalid)">
              {{showError('confirmPassword', confirmPassword.errors)}}
            </div>
            <div class="error-block" *ngIf="((submittedReg || confirmPassword.touched || confirmPassword.dirty) && confirmPassword.valid && (data.confirmPassword != data.password))">
              New password & Confirm Password must be same.
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <button class="btn btn-primary btn-block btn-lg" type="submit">Submit</button>
          </div>
        </div>
      </div>
    </div>
</form>
