<!-- <div class="profile-page">
  <form #profileForm='ngForm' (ngSubmit)='onUpdateProfile(profileForm,user)'>
  <div class="light-bg top-corner">
    <div class="row">
      <div class="col-12 text-center">
          <div class="profile-userpic">
            <img [src]="imageData ? imageData : (user.profileimage ? user.profileimage : 'assets/images/NoProfile.png')" alt="">
          </div>
          <div class="upload-file">
            <label>
              <input class='file-input' type="file" name="profile_photo" accept="image/*" (change)="fileChangeEvent($event,template)" id="profile"
                class="hide-style">
            </label>
          </div>
          <div class="profile-usertitle">
           <p><a href="javascript:;" class="link" (click)="openfile($event)">Change Photo</a></p>
           <p class="p-0"><span>Referral Link:</span><small id="refferalLink" #refferalLink>{{user.referealLink}}</small><i (click)="copyToClip(user.referealLink,'Referral link has been copied')" class="sprite copyicon cursor-pointer"></i></p>
           <p class="p-0"><span>Referral Code:</span><small>{{user.referealCode}}</small><i (click)="copyToClip(user.referealCode,'Referral code has been copied')" class="sprite copyicon cursor-pointer"></i></p>
          </div>

      </div>
    </div>
  </div>
  <div class="box-padding">
     <div class="profile-field">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="username">Full Name</label>
            <input class='form-control' type="text" name="username" [(ngModel)]="user.name" placeholder="Full Name" id="username"
              required #username="ngModel" autocomplete="off" />
            <div class="error-block" *ngIf="((submittedProfile || username.touched) && username.invalid)">
              {{showError('username', username.errors)}}
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="email">Email</label>
            <input class='form-control' type="text" name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="user.email"
              disabled placeholder="Email" id="email" required #email="ngModel" autocomplete="off" />
            <div class="error-block" *ngIf="((submittedProfile || email.touched) && email.invalid)">
              {{showError('email', email.errors)}}
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <label for="phone">Mobile Number</label>
            <input class='form-control' minlength="10" type="text" name="mobile" (keydown)="AllowNumbers($event)" [(ngModel)]="user.phone"
              placeholder="Mobile Number" id="mobile" required #mobile="ngModel" autocomplete="off" />
            <div class="error-block" *ngIf="((submittedProfile || mobile.touched) && mobile.invalid)">
              {{showError('mobile', mobile.errors)}}
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <button class="btn btn-primary btn-wide mr-4 xs-btn" type="submit">Save</button>
          <a class="link" href="javascript:;" (click)="openChangePassModal(ChangePassword)">Change Password</a>
        </div>
      </div>
    </div>
  </div>


  </form>
</div> -->

<!--Begin: Change Password Modal-->
<!-- <ng-template #ChangePassword>
  <form #passwordForm='ngForm' (ngSubmit)='onChangePassword(passwordForm,userPassword)'>
    <div class="authentication-modal">
      <div class="modal-body">
        <div class="row">
          <div class="col-12 text-center"><h2>Change Password</h2></div>
          <div class="col-12">
            <div class="form-group">
              <label >Current Pasword</label>
              <input class='form-control' type="password" name="currentPassword" [(ngModel)]="userPassword.currentPassword" autocomplete="off"
                id="currentPassword" required #currentPassword="ngModel" />
              <div class="error-block" *ngIf="((submittedPassword || currentPassword.touched) && currentPassword.invalid)">
                {{showError('currentPassword', currentPassword.errors)}}
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label >New password</label>
              <input class='form-control' type="password" name="newPassword" [(ngModel)]="userPassword.newPassword" autocomplete="off" id="newPassword"
                required #newPassword="ngModel" />
              <div class="error-block" *ngIf="((submittedPassword || newPassword.touched) && newPassword.invalid)">
                {{showError('newPassword', newPassword.errors)}}
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label >Confirm new password</label>
              <input class='form-control' type="password" name="confirmPassword" [(ngModel)]="userPassword.confirmPassword" autocomplete="off"
                id="confirmPassword" required #confirmPassword="ngModel" />
              <div class="error-block" *ngIf="((submittedPassword || confirmPassword.touched) && confirmPassword.invalid)">
                {{showError('confirmPassword', confirmPassword.errors)}}
              </div>
              <div class="error-block" *ngIf="((submittedPassword || confirmPassword.touched) && confirmPassword.valid && (userPassword.confirmPassword != userPassword.newPassword))">
                New password & Confirm Password must be same.
              </div>
            </div>
          </div>
          <div class="col-12 text-center modal-btn">
            <button class="btn btn-primary btn-wide xs-btn" type="submit">Submit</button>
            <button class="btn btn-secondary btn-wide xs-btn" type="button" (click)="modalRefChangePassModal.hide()">Close</button>

          </div>
        </div>
      </div>
    </div>
  </form>
</ng-template> -->
<!--End: Change Password Modal-->

<!--Begin: Crop Image Dialog-->
<!-- <ng-template #template>
  <div class="authentication-modal">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="border">
            <image-cropper [imageChangedEvent]="imageChangedEvent" (imageCroppedBase64)="imageCropped($event)" [maintainAspectRatio]="true" [aspectRatio]="1/1" [imageQuality]="92"
              [resizeToWidth]="0" format="png">
            </image-cropper>
            </div>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <button type="button" class="btn btn-primary btn-wide" (click)="submitcropped()">Apply</button>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->
<!--End: Crop Image Dialog-->

<style>
    .main-div{
      padding: 20px;
      border: 1px solid #eee;
      margin-bottom: 20px;
      color: #383D38 !important;

  }

  </style>

    <h3><b>{{'user' | translate}}</b></h3>
   <!-- Breadcrumbs start-->
  <breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
  <!-- Breadcrumbs end-->


  <!-- profile upload start-->
  <div class="main-div">
    <app-profile-photo [user]="user" (valueChange)='displayphoto($event)'></app-profile-photo>
  </div>
  <!-- profile upload end-->

  <!-- ersonal Information start-->
  <div class="main-div">
    <h6>Personal Information</h6>
    <app-personal-info [user]="user" (valueChange)='displayCounterPI($event)'></app-personal-info>
  </div>
  <!-- ersonal Information end-->

  <!-- Address start-->
  <div class="main-div">
    <h6>Address</h6>
    <app-address [user]="user" (valueChange)='displayCounterAddress($event)' ></app-address>
  </div>
  <!-- Address end-->
  <button class="btn btn-primary btn-lg" type="button" >Cancel</button>

   <button class="btn btn-primary btn-lg" type="button" (click)="onUpdateProfile()">Submit </button>

  <!-- Select amount start-->
  <div class="main-div">
      <h6>Change Password</h6>
      <app-change-password [user]="user" ></app-change-password>

  </div>


  <!-- Select amount end-->

