<div class="dashboard-page box-padding">
  <h6 [innerHTML]="dashboardContent?.content"></h6>
  <!-- <h6>Pellentesque vitae vehicula risus. Nulla eu lacus eu est dignissim porta et id justo. Nulla viverra euismod tortor in fermentum.</h6> -->
  <div class="trade-btns">
    <button class="btn btn-primary mt-5" *ngIf="isAdminStatus != 'Inactive'" [routerLink]="['/user/start-trade']">Start a Trade</button>
    <button class="btn btn-primary mt-5" *ngIf="isAdminStatus != 'Inactive'" [routerLink]="['/user/start-btc-trade']">Start a BTC Trade</button>
    <button class="btn btn-primary mt-5" *ngIf="isAdminStatus == 'Inactive'" (click)="showMessage()">Start a Trade</button>
  </div>
</div>
