<form #loginForm='ngForm' (ngSubmit)='onLogin(loginForm,user)'>
    <div class="loginpage">
      <h3>{{'login' | translate}}</h3>
      <app-social-media [from]="'login'"></app-social-media>
      <div class="loginoption"><span>{{'or' | translate}}</span></div>
      <div class="row">
        <div class="col-12">
            <div class="form-group">
              <div class="input-effect">
                <input class='form-control' pattern="[^@\s]+@[^@\s]+\.[^@\s]+" type="text" name="emailId" [(ngModel)]="user.emailId" id="emailId" required #emailId="ngModel" >
                <label for="emailId">{{'enter-email' | translate}}</label>
              </div>
              <div class="error-block" *ngIf="((submittedLogin || emailId.touched || emailId.dirty) && emailId.invalid)">
                  {{showError('email', emailId.errors)}}
              </div>
            </div>

            <div class="form-group">
              <div class="input-effect">
                <input class='form-control' type="password" name="password" [(ngModel)]="user.password" autocomplete="off" id="password" required #password="ngModel" >
                <label for="password">{{'enter-password' | translate}}</label>
              </div>
              <div class="error-block" *ngIf="((submittedLogin || password.touched || password.dirty) && password.invalid)">
                {{showError('password', password.errors)}}
              </div>
            </div>

            <!-- <div class="form-group">
              <ng-select [items]="roles"
                placeholder="{{'select-role' | translate}}"
                [clearable]='true'
                [searchable]='false'
                [(ngModel)]="user.userRole"
                bindLabel="name"
                bindValue="code"
                [dropdownPosition]="'auto'"
                name="userRole"
                #userRole="ngModel" required
                >
              </ng-select>
              <div class="error-block" *ngIf="((submittedLogin || userRole.touched || userRole.dirty) && userRole.invalid)">
                {{showError('userRole', userRole.errors)}}
              </div>
            </div> -->
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <div class="checkbox text-left">
                  <label><input type="checkbox" name="rememberMe" #rememberMe [(ngModel)]="user.rememberMe"><span></span>{{'remember-me' | translate}}</label>
                </div>
              </div>
            </div>
            <div class="col-6 text-right">
              <div class="form-group">
                <a class="link" [routerLink]="[UrlConstants.FORGOT_PASS]">{{'forgot-password' | translate}}</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="form-group">
            <button class="btn btn-primary btn-block btn-lg" type="submit">{{'log-in' | translate}}</button>
          </div>

          <div class="form-group text-center">
            {{'dont-have-an-account'| translate }}
            <a href="javascript:;" class="link" [routerLink]="[UrlConstants.REGISTER]" >{{'register-here' | translate}}</a>
          </div>
        </div>
      </div>
    </div>
</form>
