<div class="row">
  <div class="col-6">
      <div class="form-group">
        <div class="input-effect">
          <input type="text"                   
          class="form-control"
          bsDatepicker readonly name="unavaliableStartDate" [(ngModel)]="user.unavaliableStartDate "
           id="unavaliableStartDate" required #unavaliableStartDate="ngModel" (ngModelChange)="valueChanged()">
          <label for="from">From</label>
        </div>
      </div>
  </div>
  <div class="col-6">
      <div class="form-group">
          <div class="input-effect">
            <input type="text"                     
            class="form-control"
            bsDatepicker readonly name="unavaliableEndDate" [(ngModel)]="user.unavaliableEndDate "
            id="unavaliableEndDate" required #unavaliableEndDate="ngModel" (ngModelChange)="valueChanged()">
            <label for="to">To</label>
          </div>
        </div>
  </div>
</div>
    
