<style>
  figure #profileImg{position: absolute;width:100%;height:100%;top:0;cursor: pointer;opacity: 0 }
    .profile-image{border-radius: 50%;height: 150px; width: 150px;}</style>

 <h6>Profile picture</h6>
 <div class="row">
   <div class="col-6">
       <div class="row">
           <div class="col-4">
             <figure>
                 <input type="file" id="profileImg" accept="image/*" (change)="previewImage($event,'image')">
                 <img class="profile-image" [src]="user.photo" alt="ProfileImage" title="ProfileImage">
             </figure>
           </div>
           <div class="col-4">   <button class="btn btn-primary" type="button" (click)="submitImage()" (ngModelChange)="valueChanged()">Update Photo</button></div>
           <div class="col-4">   <button class="btn btn-primary" type="button"   (click)="removeImage()">Remove Photo</button></div>
       </div>
   </div>
   <div class="col-6">
       <div class="form-group">
           <div class="checkbox">
             <label><input type="checkbox" name="period" name="isSetUnavaliablePeriod"  [(ngModel)]="user.isSetUnavaliablePeriod " id="isSetUnavaliablePeriod" required #isSetUnavaliablePeriod="ngModel" (ngModelChange)="valueChanged()"><span></span>Set unavailable period</label>
           </div>
         </div>
     <app-date-range-picker [user]="user"(valueChange)='displaydate($event)'></app-date-range-picker>
   </div>
 </div>
