  <style>
  .main-div{
  	padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    color: #383D38 !important;
}
</style>

  <h3><b>{{'create-offer' | translate}}</b></h3>
 <!-- Breadcrumbs start-->
<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<!-- Breadcrumbs end-->


<!-- Select amount start-->
<div class="main-div">
	<h6>Select amount to post on market place(USD)</h6>
</div>
<!-- Select amount end-->

<!-- select Recipient start-->
<div class="main-div">
	<h6>Select Recipient</h6>
	<app-data-table [tableSetupData]="tableSetupData" (selectedRecipient)="selectedRecipient=$event"></app-data-table>
</div>
<!-- select Recipient end-->

<!-- select Partner start-->
<div class="main-div">
	<h6>Select partner <button class="btn btn-primary" type="button" style="float:right" (click)="openAddRecipientModal()">Add Recipient</button></h6>

	<app-data-table [tableSetupData]="tableSetupData" (selectedRecipient)="selectedRecipient=$event"></app-data-table>
</div>
<!-- select partner end-->


<!-- Select amount start-->
<div class="main-div">
	<h6>Recipient Password</h6>
	    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="password" name="password" [(ngModel)]="user.password" id="password" required #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@!$*]).{6,10}" maxlength="10">

            <label for="password">Password</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || password.touched || password.dirty) && password.invalid)">
            {{showError('password', password.errors)}}
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" id="confirmPassword" required #confirmPassword="ngModel">
            <label for="confirmPassword">Confirm password</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || confirmPassword.touched || confirmPassword.dirty) && confirmPassword.invalid)">
            {{showError('confirmPassword', confirmPassword.errors)}}
          </div>
          <div class="error-block" *ngIf="((submittedReg || confirmPassword.touched || confirmPassword.dirty) && confirmPassword.valid && (user.confirmPassword != user.password))">
            New password & Confirm Password must be same.
          </div>
        </div>
      </div>
    </div>
</div>

 <button class="btn btn-primary btn-lg" type="button" >Cancel</button>
    
 <button class="btn btn-primary btn-lg" type="button" (click)="openSummaryModal()">Submit </button>
<!-- Select amount end-->
