<div class="contact-us">
	<div class="white-bg">
		<div class="row">
			<div class="col-lg-7 col-md-7">
				<h5>Leave a Message</h5>
				<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
				<form class="contact-form" 	#contactForm='ngForm' (ngSubmit)='submitContact(contactForm)'>
					<div class="row">
						<div class="col-lg-6 col-md-12">
							<div class="form-group">
								<label>Name</label>
								<input type="text" class="form-control" placeholder="John Doe" name="name" [(ngModel)]="contact.name" id="name" required #name="ngModel" autocomplete="off" >
								<div class="error-block" *ngIf="((submittedContact || name.touched) && name.invalid)">
									{{showError('name', name.errors)}}
								  </div>
							</div>
						</div>
						<div class="col-lg-6 col-md-12">
							<div class="form-group">
								<label>Email</label>
								<input type="text" name="email" class="form-control" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="contact.email"
								 placeholder="Email" id="email" required #email="ngModel" autocomplete="off" placeholder="john.doe@gmail.com">
								 <div class="error-block" *ngIf="((submittedContact || email.touched) && email.invalid)">
									{{showError('email', email.errors)}}
								  </div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label>Comment</label>
								<textarea class="form-control" placeholder="Comments.." rows="3" id="comment" name="comment" required #comment="ngModel" [(ngModel)]="contact.comment"></textarea>
								<div class="error-block" *ngIf="((submittedContact || comment.touched) && comment.invalid)">
									{{showError('comment', comment.errors)}}
								  </div>
							</div>	
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-primary btn-wide">Submit</button>	
						</div>
					</div>
				</form>	
			</div>
			<div class="col-lg-4 offset-lg-1 col-md-5">
				<ul class="contact-detail">
					<li>
						<span class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></span>
						<h6>
							<label>Email</label>
							<a href="mailto:support@lowda.com"><span>support@lowda.com</span></a>	
						</h6>
					</li>
					<li>
						<span class="icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
						<h6>
							<label>Phone</label>
							<a href="tel:0112345678901"><span>01 123 4567 8901</span></a>	
						</h6>
					</li>
					<li>
						<span class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></span>
						<h6>
							<label>Main Office</label>
							<span>402 Floor 12, LA Building - Street Name, CA</span>
						</h6>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>