<style>
  .main-div{
  	padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    color: #383D38 !important;
}
</style>

  <h3><b>{{'dashboard' | translate}}</b></h3>
 <!-- Breadcrumbs start-->
<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<!-- Breadcrumbs end-->


<!-- Select amount start-->
<div class="main-div">
	<div>
    <tabset>
      <tab [heading]="'requested-jobs' | translate" id="tab1">
        <app-data-table [tableSetupData]="tableSetupData" (selectedRecipient)="selectedRecipient=$event"></app-data-table>
      </tab>
      <tab [heading]="'accepted-jobs' | translate">
        <app-data-table [tableSetupData]="tableSetupData" (selectedRecipient)="selectedRecipient=$event"></app-data-table>
      </tab>
     
    </tabset>
  </div>
</div>
<!-- Select amount end-->





