<!-- <app-header></app-header> -->
<!--Banner-->
<section class="hero">
  <div class="container h-100">
    <owl-carousel
      [options]="carouselOptions"
      [items]="banners"
      [carouselClasses]="['owl-theme', 'banner-slider h-100']">
      <div class="item" *ngFor="let k of banners;let i = index">
        <div class="hero-content">
          <h2>{{k.title}}<span><a class="btn btn-primary btn-xs">{{'register' |translate}}</a> {{k.description}}</span></h2>
        </div>
      </div>
    </owl-carousel>
  </div>
</section>
<a class="btn btn-primary btn-xs"><ngx-paypal [config]="payPalConfig"></ngx-paypal>
</a>
<!--Banner-->
<!--Begin:Content Section-->
<!--Begin:Feauters-->
<section class="feauters-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>{{'our-popular-services' | translate}}</h3>
        <ul class="feauters">
          <li>
            <span class="icon"><img src="assets/images/money-transfer.svg" alt="Money Transfer"></span>
            <h6>{{'money-transfer' | translate}}</h6>
            <p>{{'money-transfer-d' | translate}}</p>
            <a href="#" class="text-link">{{'read more' |translate}}</a>
          </li>
          <li>
            <span class="icon"><img src="assets/images/escrow-services.svg" alt="Escrow Services"></span>
            <h6>{{'escrow-services' | translate}}</h6>
            <p>{{'escrow-services-d' | translate}}</p>
            <a href="#" class="text-link">{{'read more' |translate}}</a>
          </li>
          <li>
            <span class="icon"><img src="assets/images/legal-services.svg" alt="Legal Services"></span>
            <h6>{{'legal-services' | translate}}</h6>
            <p>{{'legal-services-d' | translate}}</p>
            <a href="#" class="text-link">{{'read more' |translate}}</a>
          </li>
          <li>
            <span class="icon"><img src="assets/images/medical-services.svg" alt="Medical Services"></span>
            <h6>{{'medical-services' | translate}}</h6>
            <p>{{'medical-services-d' | translate}}</p>
            <a href="#" class="text-link">{{'read more' |translate}}</a>
          </li>
          <li>
            <span class="icon"><img src="assets/images/buy-sell-projects.svg" alt="Buy/Sell Projects"></span>
            <h6>{{'b-s-projects' | translate}}</h6>
            <p>{{'b-s-projects-d' | translate}}</p>
            <a href="#" class="text-link">{{'read more' |translate}}</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
<!--End:Feauters-->
<!--Begin:How Works-->
<section class="howworks-section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>{{'how-it-works' | translate}}</h3>
        <tabset class="howworks-tabs">
          <tab heading="Send Money" id="tab1">
            <ul class="howworks">
              <li>
                <span class="icon"><img src="assets/images/sendmoney-1.svg" alt="Post your offer"></span>
                <h5>{{'post-your-offer' | translate}}</h5>
                <p>{{'post-your-offer-d' | translate}}</p>
              </li>
              <li>
                <span class="icon"><img src="assets/images/sendmoney-2.svg" alt="Match on Marketplace"></span>
                <h5>{{'Match on Marketplace' | translate}}</h5>
                <p>{{'match-on-marketplace-d' | translate}}</p>
              </li>
              <li>
                <span class="icon"><img src="assets/images/sendmoney-3.svg" alt="Pay Partner"></span>
                <h5>{{'pay-partner' | translate}}</h5>
                <p>{{'pay-partner-d' | translate}}</p>
              </li>
              <li>
                <span class="icon"><img src="assets/images/sendmoney-4.svg" alt="Money available"></span>
                <h5>{{'money-available' | translate}}</h5>
                <p>{{'money-available-d' | translate}}</p>
              </li>
            </ul>
          </tab>
          <tab heading="Request Service">
            <ul class="howworks">
              <li>
                <span class="icon"><img src="assets/images/service-legal.svg" alt="Legal Service Request"></span>
                <h5>{{'legal-service-request| translate'}}</h5>
                <p>{{'legal-service-request-d| translate'}}</p>
              </li>
              <li>
                <span class="icon"><img src="assets/images/service-audit.svg" alt="Audit Service Request"></span>
                <h5>{{'audit-service-request' | translate}}</h5>
                <p>{{'audit-service-request-d' | translate}}</p>
              </li>
              <li>
                <span class="icon"><img src="assets/images/service-medical.svg" alt="Medical Service Request"></span>
                <h5>{{'medical-service-request' | translate}}</h5>
                <p>{{'medical-service-request' | translate}}</p>
              </li>
              <li>
                <span class="icon"><img src="assets/images/service-escrow.svg" alt="Escrow Service Request"></span>
                <h5>{{'escrow-service-request' | translate}}</h5>
                <p>{{'escrow-service-request-d' | translate}}</p>
              </li>
            </ul>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</section>
<!--End:How Works-->
<!--Begin:Currency Converter-->
<section class="currency-converter">
  <div class="container">
      <div class="row">
        <div class="col-12">
          <h3 class="text-center">{{'currency-converter' | translate}}</h3>
          <div class="head-bg">
            {{'central-currency' | translate}}<span><img src="assets/images/united-states.png"></span><strong>{{'USD' | translate}}</strong>
          </div>
        </div>
      </div>

      <form class="quick-converter">
        <div class="row">
          <div class="col-md-4 convert-field">
            <div class="form-group defaultUp">
              <label class="control-label">{{'from-country' |translate}}</label>
              <ng-select [items]="FromCountry"
                placeholder="{{'from-country' |translate}}"
                [clearable]='false'
                [searchable]='false'
                [(ngModel)]="selectedSimpleItem"
                bindLabel="name"
                bindValue="id"
                [dropdownPosition]="'auto'"
                [ngModelOptions]="{standalone: true}"
                >
              </ng-select>
              <div class="currency-note">
                <span><strong class="color-body">1 Euro</strong><i>=</i><strong>85.62</strong><small>INR</small></span>
                <span><strong class="color-body">1 Euro</strong><i>=</i><strong>01.15</strong><small>USD</small></span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group defaultUp">
              <label class="control-label">{{'dest-country' | translate}}</label>
              <ng-select [items]="DestinationCountry"
                placeholder="{{'dest-country' | translate}}"
                [clearable]='false'
                [searchable]='false'
                [(ngModel)]="selectedSimpleItem2"
                bindLabel="name"
                bindValue="id"
                [dropdownPosition]="'auto'"
                [ngModelOptions]="{standalone: true}"
                >
              </ng-select>
              <div class="currency-note">
                <span><strong class="color-body">1 INR</strong><i>=</i><strong>0.012</strong><small>EURO</small></span>
                <span><strong class="color-body">1 INR</strong><i>=</i><strong>0.014</strong><small>USD</small></span>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group defaultUp">
              <label class="control-label">{{'MP-country' | translate }}</label>
              <input type="text" class="form-control" placeholder="{{ 'USD' |translate}}">
              <div class="currency-note">
                <span><strong class="color-body">1 usd</strong><i>=</i><strong>00.87</strong><small>EURO</small></span>
                <span><strong class="color-body">1 usd</strong><i>=</i><strong>73.45</strong><small>USD</small></span>
              </div>
            </div>
          </div>
        </div>
      </form>
  </div>
</section>
<!--End:Currency Converter-->
<!--Begin:.country we serve-->
<section class="country-weserve">
  <div class="container">
    <div class="row">
        <div class="col-12">
          <h3 class="text-center">{{'countries-we-serve' |translate}}</h3>
          <ul class="country-listing">
            <li><span class="Armenia"></span>Armenia</li>
            <li><span class="guinee"></span>Guinee</li>
            <li><span class="mali"></span>Mali</li>
            <li><span class="SaudiArabia"></span>Saudi Arabia</li>
            <li><span class="Indonesia"></span>Indonesia</li>
            <li><span class="Mozambique"></span>Mozambique</li>
            <li><span class="GuineeEquatoriale"></span>Guinee Equatoriale</li>
            <li><span class="Maroc"></span>Maroc</li>
            <li><span class="Senegal"></span>Senegal</li>
            <li><span class="Japan"></span>Japan</li>
            <li><span class="Botswana"></span>Botswana</li>
            <li><span class="India"></span>India</li>
            <li><span class="Maurice"></span>Maurice</li>
            <li><span class="SouthAfrica"></span>SouthAfrica</li>
            <li><span class="SouthKorea"></span>SouthKorea</li>
          </ul>
        </div>
      </div>

      <div class="service-banner">
        <div class="row">
          <div class="col-md-6">
            <div class="left">
              <h4>{{'become-a-partner' |translate}}</h4>
              <p>{{'become-a-partner-d' |translate}}</p>
              <a href="#" class="btn btn-border" title="Get Started">{{'get-started' | translate}}</a>
            </div>

          </div>
          <div class="col-md-6">
            <div class="right">
              <h4>{{'become-a-service-provider' |translate}}</h4>
              <p>{{'become-a-service-provider-d' |translate}}</p>
              <a href="#" class="btn btn-border" title="Get Started">{{'get-started' | translate}}</a>
            </div>
          </div>
        </div>
      </div>

  </div>
</section>
<!--End:.country we serve-->
