<div class="faq-page">
  <div class="box-padding">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:;" [routerLink]="['/public/faq',FaqDetail?.categoryUniqueId]">{{FaqDetail?.categoryFaqName}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{FaqDetail?.title}}</li>
          </ol>
        </nav>
      </div>

      <div class="col-lg-12 col-md-12 faq-detail">
        <h2>{{FaqDetail?.title}}</h2>
        <p [innerHtml]='FaqDetail?.description'></p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-5">
        <a href="javascript:;" class="btn btn-primary" [routerLink]="['/public/faq']">Faq Home</a>
      </div>
    </div>
  </div>
</div>
