<style>
  .main-div{
  	padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    color: #383D38 !important;
}
</style>

  <h3><b>{{'ledger' | translate}}</b></h3>
 <!-- Breadcrumbs start-->
<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<!-- Breadcrumbs end-->
<div class="main-div">
    <div class="row">
        <div class="col-4">
           <h6>Ledger</h6>
        </div>
        <div class="col-8">
            <app-date-range-picker></app-date-range-picker>
        </div>
      </div>
  <app-data-table [tableSetupData]="tableSetupData" (selectedRecipient)="selectedRecipient=$event"></app-data-table>
</div>
<!-- Select amount start-->
