@media (min-width: 1200px){
	.container {max-width: 1170px;}
}
@media screen and (max-width:1366px) {}
/*===Large devices (desktops, less than 1200px)*/
@media screen and (max-width:1199.98px) {
	.container { width:98%;max-width: 100%;}
	header h1.logo img{max-height:50px;}
	.MainNavigation li a{margin: 0 10px;}
	.hero{background-size: cover; height: 500px;}
	.banner-slider.owl-theme .owl-nav.disabled + .owl-dots{bottom: 20px;}
	.service-banner{padding: 40px;}
	.submenu>li>a{margin: 0;}
	.howworks li:after{width: 110px;right:-55px;}
}
/*===Medium devices (tablets, less than 992px)*/
@media screen and (max-width:991.98px) {
	h2 { font-size:32px; line-height:1.4;}
	h3 { font-size:24px; line-height:1.3;}
	h4 {font-size:20px; line-height:1.3;}
	h5 {font-size:16px; line-height:23px;}
	h6 {font-size:15px; line-height:1.5;}
	.navicon{display: block;}
    header nav{left:-255px; width: 250px;background: #fff;height: 100%;position: fixed;overflow-y: auto;top: 0;-webkit-transition: all 0.8s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;box-shadow: 0 4px 10px rgba(0,0,0,0.5);}
    .body-hidden header nav{left:0; -webkit-transition: all 0.8s ease;-moz-transition: all 0.3s ease;-ms-transition: all 0.3s ease;-o-transition: all 0.3s ease;transition: all 0.3s ease;}    
    .MainNavigation,.MainNavigation li{display: block;text-align: left;padding: 0;}
    .MainNavigation li{border-bottom:1px solid #D8D8D8;}
    .MainNavigation li a{margin: 0; padding:10px 30px 10px 20px !important; display: block;color: #383D38; line-height: 20px;}
    .MainNavigation li.headerbtn{border:none; text-align: center;}
    .MainNavigation li.headerbtn a{margin:10px 20px; display:block;}
    .MainNavigation li.headerbtn .btn-secondary{background: #fff;border: 1px solid #00A550;color: #00A550;}
    .MainNavigation li:hover .submenu{display: none;}
    .MainNavigation li.dropdown-open .fa{right:15px;}
    .MainNavigation li.dropdown-open.active{background: #f4f4f4;}
	.submenu{position: static !important;padding: 0; margin: 0; box-shadow: none;background: #f4f4f4;}
	.submenu>li{border-bottom:none;margin: 0 0 0 20px;}
	.submenu>li>a{padding:10px 20px !important;}
    .hero{padding-top: 70px;}
	.feauters-section,.howworks-section,.currency-converter{padding: 50px 0;}
	.country-weserve{padding-top: 50px;}
	.howworks li,.feauters li{width: calc(50% - 10px);margin-top: 25px;}
	.howworks li:nth-child(2):after{display: none;}
	.country-listing li{width: 25%;}
    #footer, .push{height:auto;}
    .footer-link li{margin-left: 15px;}
    .footer-copy{padding: 20px 0;}

    .main-wrapper {margin-bottom:0; min-height: inherit;}
    .header-right{margin-right: 50px;}
}
/*===Small devices (landscape phones, less than 768px)*/
@media screen and (max-width:767.98px) {
	.inner-header .logo img { max-width:150px; }

    .hero-content h2 span{display: flex;flex-direction: column;align-items: center;}
	.howworks li,.feauters li{width: calc(100% - 10px);}
	.howworks li:after{display: none;}
	.convert-field{padding-right: 15px;padding-bottom: 30px;}
	.convert-field:after{right: inherit;top:inherit; bottom:20px; left:50%; -webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);-ms-transform: rotate(90deg);-o-transform: rotate(90deg);transform: rotate(90deg);}
	.country-listing li{width: 33.33%;}
	.service-banner .left, .service-banner .right{max-width: 100%;margin-left: 0;}
	.service-banner .right{margin-top: 30px;}
	.footer-link{text-align: center;}
	.footer-link li{margin: 0 5px;}
	.social-icon{float: none;margin-top: 30px;}
    .loginpage{ margin: 50px auto; }
	.custom-pagination{text-align: center;}
	.custom-pagination .pagination{margin-bottom: 20px;float: none; display: inline-flex;}
	
}
/*===Extra small devices (portrait phones, less than 576px)*/
@media screen and (max-width:575.98px) {
	.country-listing li{width:50%;}
	.footer-top{text-align: center;}
	.footerlogo{margin: 0 auto 30px;}


	.notification-dropdown{margin-right: 20px;}
	.profile-dropdown .user-pic{position: static; margin-right: 15px; top:0;-webkit-transform: translateY(0);transform: translateY(0);}
	.profile-dropdown .dropdown-menu:after{right: 25px;}
	.profile-dropdown .profile-detail{padding: 8px; background: #f9f9f9;border-radius: 4px 4px 0 0;border-bottom: 1px solid #e8e8e8;}
	.profile-dropdown .profile-detail .user-pic{display: none;}
	.profile-dropdown .profile-detail .user-name{color: #f52b41;font-size: 14px;font-weight: 400;padding: 0;line-height: 18px;}
}
@media screen and (max-width:374px) {
	.container{width: 100%;}
	.inner-wrapper{padding-top: 75px;}
	.inner-header .logo img { max-width:110px; }

	.country-listing li{width:100%;}
	.howworks-tabs .nav-tabs .nav-item .nav-link{min-width: 140px;}
}
