@charset "utf-8";
@import "~@ng-select/ng-select/themes/default.theme.css";

/* =Toolkit--------------------------------------------------------------------------------------------------*/
/* general purpose classes */
ul,li, ol { margin: 0; padding: 0; list-style-type: none }
button:focus{outline: 0;}
button{background: none; border:none;}
.btn{ padding:12px 30px; line-height: 16px; font-size: 13px; border:none; box-shadow: none;border-radius:4px;text-transform:uppercase;font-weight: 500;}
.btn.btn-lg{padding: 22px 40px;}
.btn.btn-xs{padding:10px 30px;}

.btn-default{ background:#383D38;}
.btn-default:hover,.btn-default:not(:disabled):not(.disabled).active, .btn-default:not(:disabled):not(.disabled):active, .show>.btn-default.dropdown-toggle,.btn-default:not(:disabled):not(.disabled).active:focus, .btn-default:not(:disabled):not(.disabled):active:focus, .show>.btn-default.dropdown-toggle:focus{background:#421414;box-shadow: none;}
.btn-primary{ background:#00A550;}
.btn-primary:hover,.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle,.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{background:#018943;box-shadow: none;}
.btn-secondary{ background:#fff; border:1px solid #00A550;line-height: 14px;color:#00A550; }
.btn-secondary:hover,.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle,.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus{background:#018943;box-shadow: none;border:1px solid #018943; color: #fff}
.btn-border{ background:transparent; border:1px solid #fff;line-height: 14px;color:#fff; }
.btn-border:hover,.btn-border:not(:disabled):not(.disabled).active, .btn-border:not(:disabled):not(.disabled):active, .show>.btn-border.dropdown-toggle,.btn-border:not(:disabled):not(.disabled).active:focus, .btn-border:not(:disabled):not(.disabled):active:focus, .show>.btn-border.dropdown-toggle:focus{background:#fff;box-shadow: none;border:1px solid #fff; color: #00A550}

.link{color:#00A550; position: relative;font-weight: 500;display: inline-block; font-size: 15px;}
.link:hover{color:#00A550;}
.link:after{display: block;content: '';position: absolute;bottom: 0;top: 1rem;left: 0;width: 0%;-webkit-transition: width 0.3s ease;-moz-transition: width 0.3s ease;-ms-transition: width 0.3s ease;-o-transition: width 0.3s ease;transition: width 0.3s ease;}
.link:hover:after{ width: 100%;border-bottom: 1px solid #00A550; opacity: 0.8;}
.text-link{color:#00A550;text-transform: uppercase; text-decoration: underline;}

.btn-wide{min-width: 160px;}
.modal-btn>:not(:last-child) {margin-right: .25rem;}
.btn-group .link:after{display: none;}
.row.gutter10{margin-left: -10px;margin-right: -10px;}
.row.gutter10 [class*="col-"]{padding-left: 10px;padding-right:10px; }

.color-body{color:#383D38 !important;}
.text-danger{color: #D0021B !important;}
.text-success{color: #00A550 !important;}
.text-warning{color: #F9B12C !important;}
.text-info{color: #777B79 !important;}
.convert-icon{width: 24px; height: 17px; background: url(../images/convert-icon.svg) no-repeat; display: inline-block;}
/* End Toolkit========================================================*/
/* remember to define focus styles! */
:focus,.btn:focus ,a:focus{ outline: 0; box-shadow:none; }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{ outline: 0;}
/* =Typography--------------------------------------------------------------------------------------------------*/
/* Setting up the fonts */
body { font-family: 'Poppins', sans-serif; font-size:14px; line-height:20px; color:#383D38; background:#fff; -webkit-font-smoothing: antialiased; font-weight: 400; }
body,html{height:100%}
/* End Typography--------------------------------------------------------------------------------------------------*/
/* =Headings--------------------------------------------------------------------------------------------------*/
h1 { margin: 0; }
h2 { font-size:40px; line-height:1.4; color:#fff; margin-top: 0; font-weight:600; }
h3 { font-size:30px; line-height:1.3;margin-top: 0;font-weight:700;text-transform: uppercase;}
h4 {font-size:25px; line-height:1.3;color: #fff;font-weight:500;}
h5 {font-size:20px; line-height:23px;font-weight: 600;}
h6 {font-size: 16px; line-height:1.5; font-weight:600;}
/* End Headings--------------------------------------------------------------------------------------------------*/
/* =Links--------------------------------------------------------------------------------------------------*/
a { text-decoration:none; color:#000; cursor:pointer; outline: 0; }
a:hover{ text-decoration:none; outline:0; color:#00A550; }
/* End Links
--------------------------------------------------------------------------------------------------*/
/* =helper Classes--------------------------------------------------------------------------------------------------------*/
p { padding:0 0 15px 0; margin:0; }
img{max-width: 100%;}

.box-padding{padding:30px;}
.light-bg{background: #FAF5F5;padding: 40px;}
.white-bg{padding: 30px; background: #fff; border-radius: 4px;}
/* End Branding
--------------------------------------------------------------------------------------------------------*/
/* ====Begin: Navigation*/
.nav-toggle {display: inline-block;width: 100%;height: 100%; }
.nav-toggle:focus { outline: none; }
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after { content: ""; position: absolute; display: block; width: 35px; height: 3px; border-radius: 1px; background: #00A550; cursor: pointer; top: 10px;}
.nav-toggle span:before { top: -10px; }
.nav-toggle span:after { bottom: -10px; }
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after { -webkit-transition: all 200ms ease-in-out; transition: all 200ms ease-in-out; }
.nav-toggle.active span { background-color: transparent; }
.nav-toggle.active span:before, .nav-toggle.active span:after { top: 0; }
.nav-toggle.active span:before { -ms-transform: rotate(45deg); -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.nav-toggle.active span:after { top: 10px; -ms-transform: translatey(-10px) rotate(-45deg); -webkit-transform: translatey(-10px) rotate(-45deg); transform: translatey(-10px) rotate(-45deg); }
.navicon { position: fixed;z-index: 99999; height: 26px; right: 20px; top:27px;display: none; -webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; width: 35px; }

header {-webkit-transition: all 300ms ease-in-out; transition: all 300ms ease-in-out; position: fixed; width: 100%; z-index: 1010; top: 0;}
.header{position: relative;display: flex;align-items: center;justify-content: space-between;}
h1.logo{display: inline-block;padding: 15px 0;}
h1.logo span{display: none;}
header .stickylogo{display: none;}

.MainNavigation { margin:0; padding: 0; display: inline-block;display: flex;height: 100%; }
.MainNavigation li { display: inline-block; padding: 22px 0; }
.MainNavigation li a { color: #FFFFFF; margin:0 22px;line-height:36px; position:relative; display: inline-block;font-size: 13px; text-transform: uppercase;}
.MainNavigation-new li a { color: #000000; margin:0 22px;line-height:36px; position:relative; display: inline-block;font-size: 13px; text-transform: uppercase;}
.MainNavigation li a:before{position: absolute;bottom: -8px;left:0; visibility: hidden;width:100%;height:3px;content: '';-webkit-transition: all .3s ease-in-out 0s;transition: all .3s ease-in-out 0s;
-webkit-transform: scaleX(0);transform: scaleX(0);background-color: #00A550;}
.MainNavigation-new li a:before{position: absolute;bottom: -8px;left:0; visibility: hidden;width:100%;height:3px;content: '';-webkit-transition: all .3s ease-in-out 0s;transition: all .3s ease-in-out 0s;
  -webkit-transform: scaleX(0);transform: scaleX(0);background-color: #00A550;}
.MainNavigation li a.active,.MainNavigation li a:hover{color: #00A550;}
.MainNavigation-new li a.active,.MainNavigation-new li a:hover{color: #00A550;}

.MainNavigation li.headerbtn a{color: #fff;margin-right: 0;margin-left: 10px; line-height: 16px; padding: 10px 18px;min-width:96px;}
.MainNavigation li.headerbtn a:before{display: none;}
.MainNavigation li.headerbtn .btn-secondary{background: transparent;border:1px solid #fff;padding: 9px 18px;}
.submenu{display: none;webkit-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
-moz-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
-ms-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
-o-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
position: absolute;top:100%;border-radius: 4px; margin-top: 8px; box-shadow: 0 0 14px 0 rgba(0,0,0,0.16);background: #fff;padding:5px 10px;min-width: 250px;text-align: left;}
.MainNavigation li:hover .submenu{display: block;}
.MainNavigation li.dropdown-open a{padding-right: 16px;}
.MainNavigation li.dropdown-open .fa{font-size: 18px;position: absolute;right: 0;top: 50%;margin-top: -10px;}
.MainNavigation-new li:hover .submenu{display: block;}
.MainNavigation-new li.dropdown-open a{padding-right: 16px;}
.MainNavigation-new li.dropdown-open .fa{font-size: 18px;position: absolute;right: 0;top: 50%;margin-top: -10px;}
.submenu:before{content:"";width: 0; height: 0; left:30px;top:-9px;border-left: 9px solid transparent;border-right: 9px solid transparent;border-bottom: 9px solid #fff;position: absolute;left: 30px;}
.submenu>li{display: block;border-top: 1px solid #D8D8D8;padding: 0;}
.submenu>li:first-child{border-top:none;}
.submenu>li>a{color: #383D38;padding: 15px 30px;margin: 0;font-size: 13px; text-transform: uppercase;line-height: 20px;display: block;}
.submenu> li a:hover:after{content: ""; width: 4px; height:100%; top:0; left:-10px; position: absolute; background:#00A550; }
.fixed { position: fixed; background-color: #fff;width: 100%; -webkit-transition: all 300ms ease-in-out;transition: all 300ms ease-in-out; }
header.fixed{box-shadow: 0 2px 10px rgba(0,0,0,0.1);}
header.fixed .nosticky{display: none;}
header.fixed .stickylogo{display: block;}
header.fixed h1.logo img{max-height:50px;}
header.fixed .MainNavigation li a{color: #383D38;}
header.fixed .MainNavigation-new li a{color: #383D38;}

header.fixed .MainNavigation li a.active,header.fixed .MainNavigation li a:hover{color:#00A550}
header.fixed .MainNavigation-new li a.active,header.fixed .MainNavigation-new li a:hover{color:#00A550}

header.fixed .MainNavigation li.headerbtn a{ color: #fff; }
header.fixed .MainNavigation li.headerbtn .btn-secondary{border:1px solid #00A550;color:#00A550 }
header.fixed .MainNavigation-new li.headerbtn a{ color: #fff; }
header.fixed .MainNavigation-new li.headerbtn .btn-secondary{border:1px solid #00A550;color:#00A550 }
header.fixed .nav-toggle span, header.fixed .nav-toggle span:before, header.fixed .nav-toggle span:after{background:#00A550;}
header.fixed .nav-toggle.active span{background-color: transparent;}

header.inner-header{box-shadow: 0 2px 30px 0 rgba(0,0,0,0.12);}
header.inner-header h1.logo{font-size: 0;}

/*.inner-header .logo img { max-width:150px; }
.inner-header .MainNavigation li a { color: #383D38;}
.inner-header .MainNavigation li a.active,.inner-header .MainNavigation li a:hover { color: #00A550;}*/
.navoverly{width: 100%; height: 100%; background:rgba(28,44,59,0.5); position: fixed; display: none; top:0; left:0;z-index: 2;}
body.body-hidden{overflow: hidden;}
.body-hidden .navoverly{display: block;}
/*===End: Main Nav*/
/*===Banner===*/
.hero{position: relative; background: url(../images/banner-bg.jpg) no-repeat; background-size: cover;height:calc(100vh - 50px);padding-top: 100px;}
.banner-slider.owl-carousel .owl-stage-outer,.banner-slider.owl-carousel .owl-stage,.banner-slider.owl-carousel .owl-item{height: 100%;}
.banner-slider.owl-theme .owl-nav.disabled + .owl-dots{margin: 0; position: absolute; bottom: 50px; width: 100%;display: flex;align-items: center;justify-content: center;}
.banner-slider.owl-theme .owl-dots .owl-dot span{width: 6px; height: 6px;background: #fff;}
.banner-slider.owl-theme .owl-dots .owl-dot.active span{width: 10px; height: 10px; background: transparent; border:1px solid #fff;}
.hero-content{position: absolute;z-index: 1;transform: translate(-50%,-50%);top: 50%;left: 50%;-webkit-transform: translate(-50%,-50%);    width: 100%;text-align: center;}
.hero-content h2{color: #fff;font-weight: bold;margin: 0; }
.hero-content h2 span{font-size: 25px;display: block; font-weight: 300;margin-top: 15px;}
/*===Begin: Home Content Section*/
.feauters-section{padding:50px 0 70px; text-align: center;}
.feauters li{display: inline-block; width: calc(20% - 10px); margin: 40px 5px 0; vertical-align: top;border:1px solid transparent;padding: 20px 10px;}
.feauters .icon{display: flex;align-items: center;justify-content: center;min-height: 70px; margin-bottom: 25px;}
.feauters li .text-link{opacity: 0;font-weight: 600;}
.feauters li p{font-size:13px;}
.feauters li:hover .text-link{opacity: 1;}
.feauters li:hover{border: 1px solid #00A550;border-radius: 6px;box-shadow: 0 2px 30px 0 rgba(0,0,0,0.13);}

.howworks-section{padding:70px 0;background:#f3f3f3;text-align: center;}
.howworks-section h3{margin-bottom:50px;}
.howworks li{display: inline-block; width: calc(25% - 10px); margin: 40px 5px 0; vertical-align: top;padding: 20px 5px;position: relative;}
.howworks li:after{content: ""; background: url(../images/arrow.png) no-repeat; background-size: 100%; width: 146px; height: 46px; position: absolute; right: -74px; top:50px;}
.howworks li:last-child:after{display: none;}
.howworks .icon{display: flex;align-items: center;justify-content: center;min-height:88px; margin-bottom: 25px;}
.howworks li p{font-size:13px;}

.howworks-tabs .nav-tabs{border-bottom: none;position: relative;display: -ms-inline-flexbox;display: inline-flex;vertical-align: middle;}
.howworks-tabs .nav-tabs .nav-item .nav-link{text-transform: uppercase;font-weight: 500;padding: 12px 20px;font-size: 13px;color: #00A550;line-height: 14px;background: #fff;border: 1px solid #00A550;border-radius: 4px;min-width: 150px;}
.howworks-tabs .nav-tabs .nav-item:first-child .nav-link{margin-left: 0;}
.howworks-tabs .nav-tabs .nav-item:not(:last-child):not(.dropdown-toggle) .nav-link{border-top-right-radius: 0;border-bottom-right-radius: 0;}
.howworks-tabs .nav-tabs .nav-item:not(:first-child) .nav-link{border-top-left-radius: 0;border-bottom-left-radius: 0;}
.howworks-tabs .nav-tabs .nav-item+.nav-item{margin-left: -1px;}
.howworks-tabs .nav-tabs .nav-link.active{border: 1px solid #00A550;background:#00A550;color: #fff;}

.currency-converter{padding:70px 0;}
.currency-converter h3{margin-bottom: 50px;}
.currency-converter .head-bg{box-shadow: 0 -1px 0 0 #DBE2DE, 0 1px 0 0 #DBE2DE;background: #F4F4F4;padding: 20px;text-align: center;display: flex;align-items: center;justify-content: center;color: #7B7D7B;font-size: 20px;line-height: 24px;}
.currency-converter .head-bg span{width: 36px; height: 36px; border-radius: 50%; overflow: hidden;border:2px solid #fff;margin: 0 5px;}
.currency-converter .head-bg strong{color: #383D38;font-weight: 600;}

.quick-converter{margin-top: 50px;}
.convert-field{position: relative;padding-right: 40px;}
.convert-field:after{content: ""; position: absolute; right:1px; background: url(../images/convert-icon.svg) no-repeat; width: 24px; height: 17px;top:20px;}
.quick-converter .form-control{font-size: 24px;font-weight: 600;height: 60px;}
.currency-note{display: flex;flex-direction: column;margin-top: 10px;}
.currency-note span{display: block;padding: 5px 0 0;}
.currency-note i{margin: 0 5px;font-style: inherit;font-weight: 700;color: #bac1bd;}
.currency-note strong{font-weight: 600; color: #00A550; margin-right: 5px;text-transform: uppercase;}
.currency-note small{font-weight: 400; color: #383D38;font-size: 14px;text-transform: uppercase;}

.country-weserve{padding: 70px 0 0; background: #F7F7F7;position: relative;z-index: 1;}
.country-weserve h3{margin-bottom: 50px;}
.country-listing{ display: flex; align-items: center; margin: 0 -15px; flex-wrap: wrap;}
.country-listing li{width: 20%;padding: 0 15px 20px;display: flex; align-items: center;}
.country-listing li span{width: 30px; min-width: 30px; height: 20px; background: url(../images/flag-sprite.png) no-repeat;margin-right: 10px;}
.country-listing li span.guinee{background-position: -50px -1px;}
.country-listing li span.mali{background-position: -100px 0;}
.country-listing li span.SaudiArabia{background-position:-150px 0;}
.country-listing li span.Indonesia{background-position:-200px 0;}
.country-listing li span.Mozambique{background-position:0px -40px;}
.country-listing li span.GuineeEquatoriale{background-position:-50px -40px;}
.country-listing li span.Maroc{background-position:-100px -40px;}
.country-listing li span.Senegal{background-position:-150px -40px;}
.country-listing li span.Japan{background-position:-200px -40px;}
.country-listing li span.Botswana{background-position:0px -80px;}
.country-listing li span.India{background-position:-50px -80px;}
.country-listing li span.Maurice{background-position:-100px -80px;}
.country-listing li span.SouthAfrica{background-position:-150px -80px;}
.country-listing li span.SouthKorea{background-position:-200px -80px;}


.service-banner{background: url(../images/highlight-bg.png) no-repeat center top;min-height:231px;padding:74px 50px; text-align: center;margin-top: 50px;border-radius: 8px; overflow: hidden;background-size: cover;}
.service-banner h4{text-transform: uppercase;margin-bottom: 30px;}
.service-banner p{color: #fff;line-height: 22px;font-size: 13px;margin-bottom: 20px;}
.service-banner .left,.service-banner .right{max-width: 460px;}
.service-banner .right{margin-left: 40px;}
.country-weserve:after{content: ""; background:#222522;position: absolute;bottom: 0; width: 100%;height: 25%; z-index: -1;}
/*=========Secondary Page============*/

.inner-wrapper{margin-top: 80px;}

/*===Login/Register===*/
.loginpage{ max-width: 556px; margin: 100px auto; }
.facebook{background: #4C65B7;font-size: 16px;font-weight: 600;letter-spacing: -0.4px;color: #fff; text-transform: capitalize;}
.facebook:hover{background: #374e9a;color: #fff;}
.google{background: #CD4D36;font-size: 16px;font-weight: 600;letter-spacing: -0.4px;color: #fff;text-transform: capitalize;}
.google:hover{background: #af3b26;color: #fff;}
.loginoption{color: #5B6674;  position: relative; text-align: center;margin: 10px 0 25px;}
.loginoption span{padding:5px 20px; background: #fff;position: relative; z-index: 1;}
.loginoption:after{content:""; background: #e4e4e4; width: 100%; height: 1px; position: absolute; top:50%; left:0;}


.profile-dropdown{max-width: 200px;}
.user-info{display: table; position: relative;}
.user-info:after{content: "";width: 0;height: 0;border-left: 4px solid transparent;border-right: 4px solid transparent;border-top: 4px solid #929292;position: absolute;right: 0px;top: 50%;transform: translateY(-50%);}
.user-name{font-weight: 600; color:#3d3d3d; padding-left: 46px; padding-right:15px; display: table-cell; text-align: right; }
.user-pic{width: 36px; height: 36px; display: inline-block; vertical-align: top; border-radius: 50%; overflow: hidden;border: 1px solid #e5e5e5;position: absolute;left: 0;top: 50%;transform: translateY(-50%);}
.profile-dropdown .dropdown-menu{top:30px !important; min-width: 180px;}
.profile-dropdown .dropdown-menu:after{content: "";position: absolute;width: 0;height: 0;top:0;right:10px;box-sizing: border-box;border: 0.7em solid;border-color: transparent transparent #fff #fff;transform-origin: 0 0;transform: rotate(135deg);box-shadow: -3px 3px 3px 0 rgba(0, 0, 0, 0.1);}
.profile-dropdown .dropdown-item .fa{margin-right: 10px;}
.profile-dropdown .dropdown-item{white-space: inherit;}
.addterm-modal{max-width: 570px;}
.header-right{display: flex;align-items: center;}
.maxscroll{max-height: 295px; overflow-y: auto;}



/*===FAQ===*/
.faq-page{border-radius: 4px; background: #fff;}
.faq-head{background:#FAF5F5; border-radius: 4px 4px 0 0; padding:40px 30px;}
.faq-search{max-width: 550px; margin: 0 auto; text-align: center;}
.faq-search h3{font-size: 30px;color: #2B2929;font-weight: 500;margin-bottom: 30px;}
.faq-search p{color: #807878;}
.faq-list{margin-bottom: 60px;}
.faq-list li{border-top:1px solid #d8d8d8; color: #262424;line-height: 19px; padding: 10px 0; display: block;}
.faq-list li:first-child{border-top:none;}
.faq-list li:last-child{padding: 20px 0 0;}
.question-list .faq-list li{font-size: 17px; line-height: 23px;color: #383D38;padding: 20px 0;border-bottom:1px solid #d8d8d8; border-top:none;}
.faq-page .breadcrumb{align-items: center;margin-bottom: 30px;}
.faq-page .breadcrumb-item{font-size:14px; color: #262424; font-weight:400; line-height:19px;}
.faq-page .breadcrumb-item a{color: #262424;}
.faq-page .breadcrumb-item+.breadcrumb-item::before{color: #262424;font: normal normal normal 16px/1 FontAwesome;content: "\f105";position: relative;top:0;}
.faq-page .breadcrumb-item.active{color: #817979;}
.faq-detail h2{font-size: 30px;line-height: 39px;font-weight: 500;margin-bottom: 30px;}
.faq-detail p{color: #8F9595;font-size: 14px;line-height: 22px;}
.faq-detail ul{list-style-type: disc;display: inline-block;padding-left: 20px;margin-bottom: 20px;}
.faq-detail ul li{color: #383D38;font-size: 14px;line-height:32px;list-style-type: disc;}
.faq-detail a{color:#f52b41;}
/*Footer Push Bottom*/
.main-wrapper {min-height: 100%;margin-bottom: -350px;}
.main-wrapper:after {content: "";display: block;}
#footer, .push{height:350px;}
/*Footer Push Bottom*/
/* =Footer--------------------------------------------------------------------------------------------------*/
.footerlogo{max-width: 190px;margin-bottom: 30px;}
.footer-top{background:#222522;padding: 50px 0;}
.footer-top p{color: #fff; font-size: 13px;line-height: 22px;}
.footer-top p span{display: block;}
.footer-link{text-align: right;margin-top: 10px;}
.footer-link li {display: inline-block;position: relative; margin-left: 42px;}
.footer-link li a {line-height:2; display: inline-block;color:#fff; font-size: 13px; text-transform: uppercase;}
.footer-link li a:hover { text-decoration:none;color:#00A550; }
.social-icon{float: right;margin-top: 65px;}
.social-icon li{ display: inline-block; vertical-align: top; margin:0 0 0 27px; -webkit-transition: all .1s ease-in-out;-moz-transition: all .1s ease-in-out;-ms-transition: all .1s ease-in-out;-o-transition: all .1s ease-in-out;transition: all .1s ease-in-out;}
.social-icon li a{background: url(../images/social-sprite.png) no-repeat; text-indent: -9999px;height: 20px; display: inline-block;}
.social-icon li a.facebook{background-position: 0 0;width: 11px;}
.social-icon li a.twitter{background-position: -38px 0;width: 23px;}
.social-icon li a.linkedin{background-position: -139px 0;width: 19px;}
.social-icon li a.youtube{background-position: -185px 0;width: 24px;}
.social-icon li:hover{margin-top: -3px; color:rgba(255,255,255,0.7);}
.footer-copy{padding:38px 0; text-align: center;background:#1c1f1c;}
.footer-copy p{color: #fff; padding: 0; font-size: 13px;line-height: 22px;}
/* End Footer--------------------------------------------------------------------------------------------------*/
/*========Start Dropdoen Style*/
.show>.dropdown-menu{
-webkit-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
-moz-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
-ms-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
-o-animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;
animation: dropdown-fade-in .3s ease 1, dropdown-move-up .3s ease-out 1;}
.dropdown-menu{ padding:0; margin:0;-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);-webkit-transform-style: preserve-3d;-webkit-backface-visibility: hidden;backface-visibility: hidden;border: none;background-color: #ffffff;box-shadow:0px 0px 15px 1px rgba(81, 77, 92, 0.2);border-radius: 4px;}
.dropdown-item{font-size: 14px; color: #383D38; padding:8px 15px;}
.dropdown-item:first-child{border-radius: 4px 4px 0 0;}
.dropdown-item:last-child{border-radius:0 0 4px 4px;}
.dropdown-item:focus, .dropdown-item:hover,.dropdown-item.active, .dropdown-item:active{background-color: #f5f5f5;color: #00A550;}
/*===========End Dropdoen Style*/
/* ===Forms Control*/
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */ color: #A3A6A3;}
input::-moz-placeholder { /* Firefox 19+ */ color: #A3A6A3;}
input:-ms-input-placeholder { /* IE 10+ */ color: #A3A6A3;}
input:-moz-placeholder { /* Firefox 18- */ color: #A3A6A3;}
textarea{ resize:none;}
.control-label{color: #A3A6A3; font-size: 13px;font-weight:500; line-height:20px; letter-spacing: -0.3px; margin-bottom:7px; text-transform: capitalize;}
.defaultUp{position: relative;}
.defaultUp .control-label{background: #fff;padding: 0 10px;position: absolute;z-index: 1;left: 11px;top: -8px;margin: 0;z-index: 1002;}
.form-group{margin-bottom:30px;}
.form-control{line-height: 1.3; border: 1px solid #C8D0CB;  border-radius: 4px; background: #FFFFFF; padding:18px 20px;font-size: 15px;color: #383D38;font-weight: 500;line-height: 22px;}
.form-control:focus{box-shadow: none;border:1px solid #00a550;color: #383D38;}
.input-effect{position: relative;}
.input-effect .form-control{transition: 0.4s; background: transparent;}
.input-effect .form-control:focus{transition: 0.4s;}
.input-effect .form-control ~ label{position: absolute; left:20px; width:calc(100% - 40px); top:20px; color: #A3A6A3; transition: 0.3s; z-index: -1; letter-spacing: 0.5px;font-size: 15px;margin: 0;font-weight: 500;}
.input-effect .form-control:focus ~ label, .has-content.form-control ~ label{top: -10px; left:10px; font-size: 13px; color: #A3A6A3; transition: 0.3s;padding: 0 10px;width: auto;z-index: 1;background: #fff;}
.input-iconright{position: relative;}
.input-iconright .form-control{padding-right: 50px;}
.iconright-view{position: absolute;right: 18px;top: 13px;}
.error-block{font-size: 13px; color: #D0021B;}

/*==custom file css*/
.custom-file,.custom-file-input{height: calc(48px + 2px); cursor: pointer;}
.custom-file-label{padding: 14px 80px 14px 18px;height: calc(48px + 2px);}
.custom-file-label::after{background: none; border:none; height: 48px;color: #00A550;font-size: 14px; font-weight: 500;padding: 0 18px 0 10px; line-height: 48px;}
.custom-file-input:focus{outline: 0;}
.hiddeninput{visibility: hidden;position: absolute;top: 0;width: 100%;left: 0; z-index: -1;}
/*===Begin: breadcrumb=*/
.breadcrumb-outer{background: #00A550; padding: 20px 0;}
.breadcrumb{background: none; padding:0; margin-bottom:0;}
.breadcrumb-item{font-size:30px; color: #ffffff; font-weight:500; line-height:1.3;}
.breadcrumb-item a{color: #ffffff;}
.breadcrumb-item+.breadcrumb-item::before{color: #fff;font: normal normal normal 14px/1 FontAwesome;content: "\f105";font-size: 20px;position: relative;top: -1px;}
.breadcrumb-item.active{color: #ffffff;}

/*===Table=====*/
table.table .thead-dark th{background: #646262;border-color: transparent;border-bottom: none;}
table.table thead tr th{font-weight: 400;}
table.table tbody tr td{font-weight: 400; font-size: 13px;line-height: 21px;}
table.table thead tr th:first-child{border-radius: 4px 0 0 0;}
table.table thead tr th:last-child{border-radius: 0 4px 0 0;}
.table td{border-top: 1px solid #e3e3e3;padding: .5rem 1.25rem;}
.table th{border-top:none;padding: .8rem 1.25rem;}
/*===Datatable*/
.input-group-text{background: #00A550; border-color: #00A550; color: #fff;cursor: pointer;}
.table-responsive{border: 1px solid #e0e0e0; border-radius: 4px 4px 0 0;}
.table.custom-table{margin: 0;}
.table.custom-table thead th{border-bottom: none; background:#E3E3E3;color: #262424;font-weight: 500;padding: 1rem 1.25rem;line-height: 18px;vertical-align: middle;white-space: nowrap;}
.table.custom-table thead th:first-child{border-radius: 4px 0 0 0;}
.table.custom-table thead th:last-child{border-radius: 0 4px 0 0;}
.table.custom-table tbody td{border-top: 1px solid #e0e0e0; font-size: 14px;color: #595656;line-height:17px;padding:1rem 1.25rem;vertical-align: middle;}

.custom-pagination{padding:30px 0 0;}
.custom-pagination .ng-select{width: 100px; display: inline-block;}
.custom-pagination .ng-select .ng-select-container{padding: 8px 15px;}
.custom-pagination .pagination{float: right;}
/*===Pagination*/
.page-link{padding: .532rem .75rem; color:#3d3d3d;border-left: none;margin-left: 0;}
.page-item:first-child .page-link{border-left:1px solid #dee2e6;}
.page-item.active .page-link{background-color: #00A550;border-color: #00A550;}
.page-link:hover,.page-link:focus{color: #00A550;background-color: #f9f9f9; outline: 0; box-shadow: none;}
/*========Checkbox and Radio*/
.vertical.checkbox, .vertical.checkbox, .vertical.radio, .vertical.radio { display: block; }
.radio,.checkbox{vertical-align:top;display: inline-block; position: relative;  color:#383D38; margin:0 10px 10px 0; white-space: inherit;line-height: 20px;
font-weight:400;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;-ms-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
.checkbox label,.radio label{margin-bottom: 0;padding:0 0 0 28px;cursor: pointer;font-size:15px;color: #383D38;line-height: 19px;}
.checkbox input[type="checkbox"],.radio input[type="radio"] {display: none;}
.checkbox input[type="checkbox"] + span{content: ""; display: inline-block; width:20px; height:20px; position:absolute; left:0; background:#fff; border: 1px solid #BDC5CA;border-radius: 2px;}
.checkbox input[type="checkbox"]:checked + span{border: 1px solid #00A550;background:#fff;-moz-transition: all 0.8s;-ms-transition: all 0.8s;-o-transition: all 0.8s;transition: all 0.8s;}
.checkbox input[type="checkbox"] ~ span:after{display: none; position: absolute; content:"";}
.checkbox input[type="checkbox"]:checked ~ span:after{top: 50%;left: 50%;margin-left: -2px;margin-top: -6px;width: 5px;height: 10px;border-width: 0 2px 2px 0 !important;transform: rotate(45deg);  display: block;border: solid #00A550;}
.radio input[type="radio"] + span {content: ""; display: inline-block; width:20px; height:20px; margin-right:10px; position:absolute; left:0; background:#fff; border: 1px solid #BDC5CA; border-radius:50%;}
.radio input[type="radio"]:checked + span {-moz-transition: all 0.8s;-ms-transition: all 0.8s;-o-transition: all 0.8s;transition: all 0.8s;}
.radio input[type="radio"] + span + small{font-size: 100%;}
.radio input[type="radio"]:checked + span + small{color:#3d3d3d; }
.radio input[type="radio"] ~ span:after{display: none; position: absolute; content:"";}
.radio input[type="radio"]:checked ~ span:after{top: 50%;left: 50%;margin-left: -6px;margin-top: -6px;width:12px;height:12px;display: block;background:#00A550; border-radius: 50%;}
.checkbox input[type="checkbox"]:disabled + span,.radio input[type="radio"]:disabled + span {opacity: .5;}
.ie8 .checkbox input[type="checkbox"],.ie8 .radio input[type="radio"] {display: inline-block;}
.ie8 .checkbox span,.ie8 .radio span {display: none;}
/*Modal*/
.modal-backdrop{background-color: #1C2C3B;}
.modal-backdrop.in{opacity: 0.5;}
.modal-content{border-radius:10px; box-shadow: none; border:none;}
.modal-body,.modal-header,.modal-footer{padding:15px 30px;}
.modal-header{border: none;}
.modal-footer{border:none;background:rgba(139,139,139,0.1);}
h6.modal-title{font-size: 24px; line-height: 33px; color: #3d3d3d; letter-spacing: 0.15px; font-weight: 400;}
.modal-header .close{position: absolute; right:20px; top:12px;padding: 0;margin: 0;text-shadow: none;font-weight: 400;}
/*Toast Message*/
#toast-container > div{box-shadow: none; border-radius: 4px;}
#toast-container > :hover{box-shadow: none;}
.no-records{width: 100%;color: #383D38;;text-align: center;padding: 20px 20px 10px;font-size: 16px;}
/*Animation*/
@-webkit-keyframes dropdown-fade-in {
from {opacity: 0; }
to {opacity: 1; } }
@-moz-keyframes dropdown-fade-in {
from {opacity: 0; }
to {opacity: 1; } }
@-o-keyframes dropdown-fade-in {
from {opacity: 0; }
to {opacity: 1; } }
@keyframes dropdown-fade-in {
from {opacity: 0; }
to {opacity: 1; } }
/*==Begin: NGX bootstarp Datepicker=*/
.bs-datepicker {-webkit-box-shadow: 0 0 15px 1px rgba(69,65,78,.2);box-shadow: 0 0 15px 1px rgba(69,65,78,.2);border-radius: 4px;}
.bs-datepicker-head bs-datepicker-navigation-view{display: flex;align-items: center;justify-content: space-between;}
.bs-datepicker-head button.next span, .bs-datepicker-head button.previous span{font-size: 24px;}
/*===Begin: Ng select Dropdown=*/
.ng-select .ng-select-container{font-size:15px; line-height:18px; border: 1px solid #C8D0CB;  border-radius: 4px; background: #FFFFFF; padding:20px 30px 20px 20px;color: #383D38 !important;font-weight: 500;}
.ng-select .ng-select-container .ng-value-container{padding-left: 0;}
.ng-select .ng-select-container .ng-value-container .ng-placeholder{color: #A3A6A3;}
.ng-select .ng-arrow-wrapper{width:5px; padding-right: 0;right:-5px;}
.ng-select .ng-arrow-wrapper .ng-arrow{font: normal normal normal 14px/1 FontAwesome;border:none;font-size: 16px;}
.ng-select .ng-arrow-wrapper .ng-arrow:before{content: "\f107";}
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input{top:19px;}
.ng-select.ng-select-opened>.ng-select-container .ng-arrow{top:0;}
.ng-select.ng-select-opened>.ng-select-container .ng-arrow:before{content:"\f106";}
.ng-select.ng-select-single .ng-select-container{height: auto;}
.ng-select.ng-select-opened>.ng-select-container{border-color:#00A550 }
.ng-dropdown-panel{border:1px solid #00A550;z-index: 1009 !important;}
.ng-dropdown-panel.ng-select-bottom{margin-top: 0;border-top:none;}
.ng-dropdown-panel.ng-select-top{margin-bottom: 0;border-bottom:none;}
.ng-select.ng-select-focused:not(.ng-select-opened) .ng-select-container{box-shadow: none;border:1px solid #00A550;}
.ng-dropdown-panel .ng-dropdown-panel-items{margin-bottom: 0;}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option{padding: 10px 20px;font-size: 15px;}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{background-color: #00A550;color: #fff;}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected{background: #00A550; color: #fff;}

/*==Order Css*/
.order-first {-ms-flex-order: -1;order: -1;}
.order-last {-ms-flex-order: 13;order: 13;}
.order-0 {-ms-flex-order: 0;order: 0;}
.order-1 {-ms-flex-order: 1;order: 1;}
.order-2 {-ms-flex-order: 2;order: 2;}
.order-3 {-ms-flex-order: 3;order: 3;}
.order-4 {-ms-flex-order: 4;order: 4;}
.order-5 {-ms-flex-order: 5;order: 5;}
.order-6 {-ms-flex-order: 6;order: 6;}
.order-7 {-ms-flex-order: 7;order: 7;}
.order-8 {-ms-flex-order: 8;order: 8;}
.order-9 {-ms-flex-order: 9;order: 9;}
.order-10 {-ms-flex-order: 10;order: 10;}
.order-11 {-ms-flex-order: 11;order: 11;}
.order-12 {-ms-flex-order: 12;order: 12;}
/* For Firefox */
input[type='number'] {
  -moz-appearance:textfield;
}
    /* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

/*ADDED BY NIRIKSHA*/
.breadcrumb {
    /*background-color: unset;*/
    padding: 20px 30px 20px 0;
    color
    margin: 0;
    font-size: 0.8em;
}

.breadcrumb-item{
	font-size: 16px;
    color: black;
    font-weight: 500;
    line-height: 1.3;
    color: #6c757d;
}
.breadcrumb-item.active{
	font-size: 16px;
    color: black;
    font-weight: 500;
    line-height: 1.3;
    color: #abb6bf;
}

.breadcrumb-item+.breadcrumb-item::before{
	color: black;
}
