<h6>Service Description</h6>
  <div class="row">
    <div class="col-12">
        <div class="form-group">
          <div class="input-effect">
            <textarea class='form-control'  type="text" name="desc" [(ngModel)]="user.desc"  required #desc="ngModel" (ngModelChange)=emitData(user.desc)>
             <label for="desc">{{'add-description' | translate}}</label>
            </textarea>
          </div>
          <div class="error-block" *ngIf="((isSubmitted || desc.touched || desc.dirty) && desc.invalid)">
              {{showError('desc', desc.errors)}}
          </div>
        </div>
    </div>
  </div>