<style>
.input-effect .form-control ~ label{
	z-index: 1 ;
}
</style>
  <div class="modal-body">
 <h6>Add Recipient</h6>
   
    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="firstname" id="fname" required #firstname="ngModel" [(ngModel)]="user.firstname" >
            <label for="fname">Enter First Name</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || firstname.touched || firstname.dirty) && firstname.invalid)">
              {{showError('firstname', firstname.errors)}}
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="lastname" id="lname" required #lastname="ngModel" [(ngModel)]="user.lastname" >
            <label for="lname">Enter Last Name</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || lastname.touched || lastname.dirty) && lastname.invalid)">
              {{showError('lastname', lastname.errors)}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="user.email" id="remail" required #email="ngModel" >
            <label for="remail">Enter Email Address</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || email.touched || email.dirty) && email.invalid)">
            {{showError('email', email.errors)}}
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' minlength="10" type="text" name="mobile" (keydown)="AllowNumbers($event)" [(ngModel)]="user.phone" id="phonenumber" required #mobile="ngModel">
            <label for="phonenumber">Enter Phone Number</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || mobile.touched || mobile.dirty) && mobile.invalid)">
            {{showError('mobile', mobile.errors)}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' google-place type="text" name="address" [(ngModel)]="user.address" id="address" required #address="ngModel"   (onSelect)="setAddress($event)">
            <label for="address">Enter Address</label>
	            <ul style="list-style-type: none;">
			      <li *ngFor="let key of addrKeys">
			        <span style="font-weight: bold">{{key}}</span>: <span>{{addr[key]}}</span>
			      </li>
			    </ul>
          </div>
          <div class="error-block" *ngIf="((submittedReg || address.touched || address.dirty) && address.invalid)">
            {{showError('address', address.errors)}}
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="city" [(ngModel)]="user.city" id="city" required #city="ngModel">
            <label for="city">Enter City</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || city.touched || city.dirty) && city.invalid)">
            {{showError('city', city.errors)}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="state" [(ngModel)]="user.state" id="state" required #state="ngModel">
            <label for="state">Enter State</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || state.touched || state.dirty) && state.invalid)">
            {{showError('state', state.errors)}}
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="country" [(ngModel)]="user.country" id="country" required #country="ngModel">
            <label for="country">Enter Country</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || country.touched || country.dirty) && country.invalid)">
            {{showError('country', country.errors)}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="paypal" [(ngModel)]="user.paypal" id="paypal" required #paypal="ngModel">
            <label for="paypal">Paypal  Account</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || paypal.touched || paypal.dirty) && paypal.invalid)">
            {{showError('paypal', paypal.errors)}}
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="quickpay" [(ngModel)]="user.quickpay" id="quickpay" required #quickpay="ngModel">
            <label for="quickpay">Quickpay  Account</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || quickpay.touched || quickpay.dirty) && quickpay.invalid)">
            {{showError('quickpay', quickpay.errors)}}
          </div>
        </div>
      </div>
    </div>

         <button class="btn btn-default btn-lg" type="button" (click)="bsModalRef.hide()">Cancel</button>
    
         <button class="btn btn-primary btn-lg" type="button" >Add </button>
</div>