<div class="form-group">
    <ng-select [items]="statusList"
      [clearable]='false'
      [searchable]='false'
      [(ngModel)]="selectedStatus"
      bindLabel="name"
      bindValue="id"
      [dropdownPosition]="'auto'" 
      name="status"  
      #status="ngModel" required
      placeholder="Select"
      >
    </ng-select>
    <!-- <div class="error-block" *ngIf="((submittedLogin || userRole.touched || userRole.dirty) && userRole.invalid)">
      {{showError('userRole', userRole.errors)}}
    </div> -->
  </div>
