  <style>
  .main-div{
  	padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    color: #383D38 !important;
}
</style>

  <h3><b>{{'pending-agreements' | translate}}</b></h3>
 <!-- Breadcrumbs start-->
<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<!-- Breadcrumbs end-->


<!-- Select amount start-->
<div class="main-div">
	<div class='row'>
		<div class="col-sm-6 col-12">
			<app-exchange-rate></app-exchange-rate>
		</div>
	</div>
	<hr>

	<!-- My transactions start-->
	<app-data-table></app-data-table>
	<!-- My transactions end-->

	

</div>
<!-- Select amount end-->


