  <div class="modal-body">
 	<h6>Transaction Summary</h6>

 	 <button class="btn btn-default btn-lg" type="button" (click)="bsModalRef.hide()">Cancel</button>
    
         <button class="btn btn-primary btn-lg" type="button" >Confirm </button>
</div>
