  <style>
  .main-div{
  	padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    color: #383D38 !important;
}
</style>

  <h3><b>{{'marketplace' | translate}}</b></h3>
 <!-- Breadcrumbs start-->
<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<!-- Breadcrumbs end-->

<div class="main-div">
	<div class='row'>
		<div class="col-sm-6 col-12">
			<h6>Select post to view corresponding marketplace</h6>
		</div>
		<div class="col-sm-6 col-12">
			<app-exchange-rate></app-exchange-rate>
		</div>
	</div>
	<hr>

	<!-- My transactions start-->
	<h6>My transactions</h6>
	<app-data-table></app-data-table>
	<!-- My transactions end-->

	<!-- select Marketplace start-->
	<h6>Marketplace </h6>

	<app-data-table></app-data-table>
<!-- select Marketplace end-->


</div>


