<!--Begin: Header -->
<header (window:scroll)="routeUrl == '/home' ? myScrollHandler() :''"  [class]="routeUrl && routeUrl != '/home'?'fixed inner-header':''">

    <div class="container">
        <div class="header">
            <h1 class="logo">
                <a href="javascript:;" [routerLink]="['/home']" title="Loopkash">
                    <img src="assets/images/loopkash.svg" alt="Loopkash" class="nosticky">
                    <img src="assets/images/loopkash-hover.svg" alt="Loopkash-hover" class="stickylogo">
                </a>
            </h1>
            <nav>
                <ul class="MainNavigation" >
                    <li><a routerLinkActive="active"  title="Home" [routerLink]="['/home']" (click)='removeOpen()'>Home</a></li>

                    <!-- IF USER ROLE == USER -->
                    <li class="dropdown-open" *ngIf="getProfileRole()=='USR'">
                      <a routerLinkActive="active"  title="Send Money" href="javascript:;">Send Money <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="submenu">
                        <li><a [routerLink]="['/user/create-offer']" (click)='removeOpen()'>Create Offer</a></li>
                        <li><a [routerLink]="['/user/marketplace']" (click)='removeOpen()'>Marketplace</a></li>
                        <li><a [routerLink]="['/user/agreements']" (click)='removeOpen()'>Pending Agreements</a></li>
                      </ul>
                    </li>
                    <li class="dropdown-open" *ngIf="getProfileRole()=='USR'">
                      <a routerLinkActive="active"  title="Request a Services" href="javascript:;">Request a Services<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      <ul class="submenu">
                        <li><a [routerLink]="['/user/medical-service']" (click)='removeOpen()'>Medical services</a></li>
                        <li><a [routerLink]="['/user/legal-service']" (click)='removeOpen()'>Legal Services</a></li>
                        <li><a [routerLink]="['/user/audit-service']" (click)='removeOpen()'>Audit Services</a></li>
                        <li><a [routerLink]="['/user/escrow-service']" (click)='removeOpen()'>Escrow Services</a></li>
                      </ul>
                    </li>
                    <li *ngIf="getProfileRole()=='USR'"><a routerLinkActive="active"  title="Buyer's portal" [routerLink]="['/user/buyers']" (click)='removeOpen()'>Buyer's portal</a></li>
                     <!-- IF USER ROLE == USER -->

                     <!-- IF USER ROLE == PARTNER || USER ROLE == ESCROW SERVICE PROVIDER-->
                     <li *ngIf="getProfileRole()=='ESP' || getProfileRole()=='PTR'"><a routerLinkActive="active"  title="ledger" [routerLink]="[UrlConstants.LEDGER]" (click)='removeOpen()'>Ledger</a></li>
                     <li *ngIf="getProfileRole()=='ESP' || getProfileRole()=='PTR'"><a routerLinkActive="active"  title="my activity" [routerLink]="[UrlConstants.MY_ACTIVITY]" (click)='removeOpen()'>My Activity</a></li>
                     <!-- IF USER ROLE == PARTNER || USER ROLE == ESCROW SERVICE PROVIDER-->

                      <!-- IF USER ROLE == SERVICE PROVIDER-->
                      <li *ngIf="getProfileRole()=='SP'"><a routerLinkActive="active"  title="Home" [routerLink]="['/home']" (click)='removeOpen()'>Dashboard</a></li>
                      <li *ngIf="getProfileRole()=='SP'"><a routerLinkActive="active"  title="Home" [routerLink]="['/home']" (click)='removeOpen()'>Transaction History</a></li>
                     <!-- IF USER ROLE == SERVICE PROVIDER-->

                    <li class="headerbtn" *ngIf="!isAuthenticated()"><a href="javascript:;" class="btn btn-secondary" title="Log In"  [routerLink]="['/public/login']">Log In</a></li>
                    <li class="headerbtn" *ngIf="!isAuthenticated()"><a href="javascript:;" class="btn btn-primary" title="Register" [routerLink]="['/public/register']" >Register</a></li>
                </ul>
            </nav>


             <div class="header-right" *ngIf="isAuthenticated()">
              <div class="profile-dropdown dropdown">
                  <a href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                    <span class="user-info">
                      <span class="user-pic"><img [src]="getProfile()" alt="Avatar"></span>
                      <span class="user-name d-none d-sm-block"><!-- {{getToken('username')}} -->Welcome,{{firstName}} {{lastName}}</span>
                    </span>
                  </a>
                  <div role="menu" class="dropdown-menu dropdown-menu-right">
                    <div class="d-flex d-sm-none profile-detail">
                      <span class="user-name"><!-- {{getToken('username')}} -->Welcome,{{firstName}} {{lastName}}</span>
                    </div>
                    <a [routerLink]="[UrlConstants.MY_PROFILE]" class="dropdown-item"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a>
                    <a href="javascript:;" (click)="logout()" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                  </div>
              </div>
            </div>
            <div class="navicon">
                <a class="nav-toggle" (click)='toggle()' href="javascript:;"><span></span></a>
            </div>
        </div>
    </div>

</header>
<!--End: Header -->
<div class="navoverly" (click)="navclose()"></div>


<!--Begin: Forgot Modal-->
<!-- <ng-template #forgotmodal>
    <form #forgotForm='ngForm' (ngSubmit)='onForgotPass(forgotForm,user)'>
      <div class="authentication-modal">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" (click)="modalRefForgot.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-12 text-center">
                <div class="form-group">
                  <img src="assets/images/logo_innerpage.png" alt="Lowda Enterprise">
                </div>
                <h2>Forgot Password?</h2>
                <div class="form-group">
                  <p class="p-0">Please enter your registered email ID here.</p>
                  <p class="p-0">We will send a reset link on your mail.</p>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                      <label for="email">Email</label>
                        <input class='form-control' type="text" name="email" [(ngModel)]="user.email" placeholder="Enter Email" id="email"
                          required #email="ngModel" autocomplete="off" />
                        <div class="error-block" *ngIf="((submittedForgot || email.touched) && email.invalid)">
                          {{showError('email', email.errors)}}
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center">
                  <div class="form-group">
                      <button class="btn btn-primary btn-wide" type="submit">Send</button>
                  </div>
                </div>
            </div>
          </div>
      </div>
    </form>
</ng-template> -->
<!--End: Forgot Modal-->
