<h6>Select Services</h6>
<div class="row">
  <div class="col-12">
    <ul class="country-listing">
      <!-- <li *ngFor="let i of servicesList"><input type="checkbox" [(ngModel)]="i.id" #policyTerms="ngModel" required><span></span>{{i.value| translate}}</li> -->
      <li *ngFor="let i of servicesList;let y =index" >
        <div class="checkbox">
          <label><input type="checkbox" [(ngModel)]="i.selected" (change)="selectServices(i,y)"><span></span>{{i.value | translate}}</label>          
        </div>
      </li>
      
    </ul>
  </div>
</div>