<div class="main-wrapper">
<app-header></app-header>
    <router-outlet></router-outlet>
    <div class="push"></div>
</div>    
<app-footer></app-footer>
<ngx-loading-bar color='#B92E2D' height='4px' [includeSpinner]='false'> </ngx-loading-bar>
<ngx-spinner bdColor="rgba(51,51,51,0.5)" size="medium" color="#fff" type="ball-scale-multiple">
</ngx-spinner>
<!-- loadingText="Loading..." -->
<toaster-container [toasterconfig]="config"></toaster-container>