    <div class="row" >
        <div class="col-sm-6">
          <div class="form-group">
            <a href="javascript:;" class="btn facebook btn-lg btn-block" (click)="socialSignIn('facebook',roleTemplate)"><i class="fa fa-facebook pr-2" aria-hidden="true" ></i>Facebook</a>
          </div>

        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <a href="javascript:;" class="btn google btn-lg btn-block" (click)="socialSignIn('google',roleTemplate)"><i class="fa fa-google-plus pr-2" aria-hidden="true" ></i>Google</a>
          </div>
        </div>
      </div>

 <!-- SELECT ROLE AFTER SUCCESSFULL SOCIAL MEDIA LOGIN -->
<ng-template #roleTemplate >
    <div class="modal-body text-center">
        <div class="form-group">
              <ng-select [items]="roles"
                placeholder="{{'select-role' | translate}}"
                [clearable]='true'
                [searchable]='false'
                [(ngModel)]="userRole"
                bindLabel="name"
                bindValue="code"
                [dropdownPosition]="'auto'"
                name="userRole"                
                >
              </ng-select>
            </div>
            <div class="col-12">
                <div class="form-group">
                  <button class="btn btn-primary btn-block btn-lg" type="submit" [disabled]="!userRole" (click)="register(userRole)">{{'register' | translate}}</button>
                </div>
            </div>
    </div>
</ng-template>