
  <form class="form-sample"
  #passwordForm='ngForm'
  (ngSubmit)='changePassword(passwordForm)'>
  <div class="row">
      <div class="col-4">
          <div class="form-group">
            <label >Current Pasword</label>
            <input class='form-control' type="password" name="oldPassword" [(ngModel)]="user.oldPassword" autocomplete="off"
              id="oldPassword" required #oldPassword="ngModel" />
            <div class="error-block" *ngIf="((submittedPassword || oldPassword.touched) && oldPassword.invalid)">
              {{showError('oldPassword', oldPassword.errors)}}
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label >New password</label>
            <input class='form-control' type="password" name="newPassword" [(ngModel)]="user.newPassword" autocomplete="off" id="newPassword"
              required #newPassword="ngModel" />
            <div class="error-block" *ngIf="((submittedPassword || newPassword.touched) && newPassword.invalid)">
              {{showError('newPassword', newPassword.errors)}}
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label >Confirm new password</label>
            <input class='form-control' type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" autocomplete="off"
              id="confirmPassword" required #confirmPassword="ngModel" />
            <div class="error-block" *ngIf="((submittedPassword || confirmPassword.touched) && confirmPassword.invalid)">
              {{showError('confirmPassword', confirmPassword.errors)}}
            </div>
            <div class="error-block" *ngIf="((submittedPassword || confirmPassword.touched) && confirmPassword.valid && (user.confirmPassword != user.newPassword))">
              New password & Confirm Password must be same.
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-12">
            <span>{{'password-notify' | translate}}</span>
          </div>
        <button class="btn btn-primary btn-lg" type="submit" >Reset Password </button>
      </div>
  </form>


