<!-- <app-auth-header *ngIf="isLogin"></app-auth-header> -->
<div class="inner-wrapper">
  <div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <app-footer></app-footer> -->