<div class="row">
    <div class="col-sm-6 col-12">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="firstName" id="fname" required #firstName="ngModel" [(ngModel)]="user.firstName" (ngModelChange)="valueChanged()">
          <label for="fname">First Name</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || firstName.touched || firstName.dirty) && firstName.invalid)">
            {{showError('firstname', firstName.errors)}}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-12">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="lastName" id="lname" required #lastName="ngModel" [(ngModel)]="user.lastName" (ngModelChange)="valueChanged()">
          <label for="lname">Last Name</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || lastName.touched || lastName.dirty) && lastName.invalid)">
            {{showError('lastname', lastName.errors)}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-12"  *ngIf="!isPartner">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="emailId" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="user.emailId" id="remail" required #emailId="ngModel" (ngModelChange)="valueChanged()">
          <label for="remail">Email Address</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || emailId.touched || emailId.dirty) && emailId.invalid)">
          {{showError('email', emailId.errors)}}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-12"   *ngIf="isPartner" >
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="emailId" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="user.screenName" id="screenName" required #screenName="ngModel" (ngModelChange)="valueChanged()">
          <label for="remail">Screen Name</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || screenName.touched || screenName.dirty) && screenName.invalid)">
          {{showError('email', screenName.errors)}}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-12">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' minlength="10" type="text" name="mobile" (keydown)="AllowNumbers($event)" [(ngModel)]="user.phoneNumber" id="rphonenumber" required #phoneNumber="ngModel" (ngModelChange)="valueChanged()">
          <label for="rphonenumber">Phone Number</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || phoneNumber.touched || phoneNumber.dirty) && phoneNumber.invalid)">
          {{showError('mobile', phoneNumber.errors)}}
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-12">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="paypal" [(ngModel)]="user.paypal" id="paypal" required #paypal="ngModel" (ngModelChange)="valueChanged()">
          <label for="paypal">Paypal  Account</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || paypal.touched || paypal.dirty) && paypal.invalid)">
          {{showError('paypal', paypal.errors)}}
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-12">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="quickpay" [(ngModel)]="user.quickpay" id="quickpay" required #quickpay="ngModel" (ngModelChange)="valueChanged()">
          <label for="quickpay">Quickpay  Account</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || quickpay.touched || quickpay.dirty) && quickpay.invalid)">
          {{showError('quickpay', quickpay.errors)}}
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-sm-6 col-12"   *ngIf="isPartner">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="accountManagerName" [(ngModel)]="user.accountManagerName" id="accountManagerName" required #accountManagerName="ngModel" (ngModelChange)="valueChanged()">
          <label for="accountManagerName">Name of the account manager</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || accountManagerName.touched || accountManagerName.dirty) && accountManagerName.invalid)">
          {{showError('accountManagerName', accountManagerName.errors)}}
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-12"   *ngIf="isPartner">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control'type="text" name="companyLegalName" [(ngModel)]="user.companyLegalName" id="companyLegalName" required #companyLegalName="ngModel" (ngModelChange)="valueChanged()">
          <label for="companyLegalName">Legal name of the company</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || companyLegalName.touched || companyLegalName.dirty) && companyLegalName.invalid)">
          {{showError('companyLegalName', companyLegalName.errors)}}
        </div>
      </div>
    </div>


  </div>
  <div class="row">
    <div class="col-sm-6 col-12"   *ngIf="isPartner">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="currentBusiness" [(ngModel)]="user.currentBusiness" id="currentBusiness" required #currentBusiness="ngModel" (ngModelChange)="valueChanged()">
          <label for="currentBusiness">Current Bussiness or Personal Activity</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || currentBusiness.touched || currentBusiness.dirty) && currentBusiness.invalid)">
          {{showError('currentBusiness', currentBusiness.errors)}}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-12"   *ngIf="isPartner">
      <div class="form-group">
        <div class="input-effect">
          <input class='form-control' type="text" name="managerEmail" [(ngModel)]="user.managerEmail" id="managerEmail" required #managerEmail="ngModel" (ngModelChange)="valueChanged()">
          <label for="managerEmail">Manager's Email</label>
        </div>
        <div class="error-block" *ngIf="((submittedReg || managerEmail.touched || managerEmail.dirty) && managerEmail.invalid)">
          {{showError('managerEmail', managerEmail.errors)}}
        </div>
      </div>
    </div>



  </div>
<div class="row">
  <div class="col-sm-6 col-12">
    <div class="form-group">
      <div class="input-effect">
        <input type="text"
          class="form-control"
          bsDatepicker readonly  name="dob" [(ngModel)]="user.dob " id="dob" required #dob="ngModel" (ngModelChange)="valueChanged()">
        <label for="dob">Date Of Birth</label>
      </div>

    </div>
  </div>
</div>
