<!--Begin: Register Modal-->
<form #registrForm='ngForm' (ngSubmit)='onRegister(registrForm,user)'>
  <div class="loginpage">
    <h3>{{'register' | translate}}</h3>
    <app-social-media [from]="'register'"></app-social-media>
    <div class="loginoption"><span>{{'or' | translate}}</span></div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="firstname" id="fname"  #firstname="ngModel" [(ngModel)]="user.firstName" >
            <label for="fname">{{'first-name' | translate}}</label>
          </div>
          <!-- <div class="error-block" *ngIf="((submittedReg || firstname.touched || firstname.dirty) && firstname.invalid)">
              {{showError('firstname', firstname.errors)}}
          </div> -->
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="lastname" id="lname" #lastname="ngModel" [(ngModel)]="user.lastName" >
            <label for="lname">{{'last-name' | translate}}</label>
          </div>
          <!-- <div class="error-block" *ngIf="((submittedReg || lastname.touched || lastname.dirty) && lastname.invalid)">
              {{showError('lastname', lastname.errors)}}
          </div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="text" name="emailId" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [(ngModel)]="user.emailId" id="remailId" required #emailId="ngModel" >
            <label for="remailId">{{'email-address'| translate}}</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || emailId.touched || emailId.dirty) && emailId.invalid)">
            {{showError('email', emailId.errors)}}
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' minlength="10" type="text" name="mobile" (keydown)="AllowNumbers($event)" [(ngModel)]="user.phoneNumber" id="rphonenumber"  #mobile="ngModel">
            <label for="rphonenumber">{{'phone-number' | translate}}</label>
          </div>
          <!-- <div class="error-block" *ngIf="((submittedReg || mobile.touched || mobile.dirty) && mobile.invalid)">
            {{showError('mobile', mobile.errors)}}
          </div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' minlength="10" type="text" name="paypal" [(ngModel)]="user.paypal" id="paypal" #paypal="ngModel">
            <label for="paypal">{{'paypal-account' | translate}}</label>
          </div>
          <!-- <div class="error-block" *ngIf="((submittedReg || paypal.touched || paypal.dirty) && paypal.invalid)">
            {{showError('paypal', paypal.errors)}}
          </div> -->
        </div>
      </div>

      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' minlength="10" type="text" name="quickpay" [(ngModel)]="user.quickpay" id="quickpay"  #quickpay="ngModel">
            <label for="quickpay">{{'quickpay-account' | translate}}</label>
          </div>
          <!-- <div class="error-block" *ngIf="((submittedReg || quickpay.touched || quickpay.dirty) && quickpay.invalid)">
            {{showError('quickpay', quickpay.errors)}}
          </div> -->
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <ng-select [items]="roles"
            placeholder="{{'select-role' |translate}}"
            [clearable]='true'
            [searchable]='false'
            [(ngModel)]="user.role"
            bindLabel="name"
            bindValue="code"
            [dropdownPosition]="'auto'"
            name="role"
            #role="ngModel" required
            >
          </ng-select>
          <div class="error-block" *ngIf="((submittedReg || role.touched || role.dirty) && role.invalid)">
            {{showError('userRole', role.errors)}}
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="password" name="password" [(ngModel)]="user.password" id="password" required #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[@!$*]).{6,10}" maxlength="10">

            <label for="password">{{'password'| translate}}</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || password.touched || password.dirty) && password.invalid)">
            {{showError('password', password.errors)}}
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-12">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control' type="password" name="confirmPassword" [(ngModel)]="user.confirmPassword" id="confirmPassword" required #confirmPassword="ngModel">
            <label for="confirmPassword">{{'confirm-password' | translate}}</label>
          </div>
          <div class="error-block" *ngIf="((submittedReg || confirmPassword.touched || confirmPassword.dirty) && confirmPassword.invalid)">
            {{showError('confirmPassword', confirmPassword.errors)}}
          </div>
          <div class="error-block" *ngIf="((submittedReg || confirmPassword.touched || confirmPassword.dirty) && confirmPassword.valid && (user.confirmPassword != user.password))">
            {{'password-mactch-error'| translate}}
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-12">
        <span>{{'password-notify' | translate}}</span>
      </div>
    </div><br>
   <!--  <div class="row">
      <div class="col-12">
        <div class="form-group">
           <div>
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Password</mat-label>
              <input matInput #passwordWithValidation
                     [type]="inputType"
                     required
                     name="password" [(ngModel)]="user.password"
                     placeholder="Password" #password="ngModel"  [pattern]="regx">
              <mat-hint align="end" aria-live="polite">
                {{user?.password?.length}} / 10
              </mat-hint>
              <div class="error-block" *ngIf="((submittedReg || password.touched || password.dirty) && password.invalid)">
                <mat-error *ngIf="password.errors.required">
                  Password is required
                </mat-error>
                <mat-error *ngIf="password.errors.pattern">
                  Password is not valid
                </mat-error>
            </div>

            </mat-form-field>
            <mat-password-strength #passwordComponentWithValidation
                                            (onStrengthChanged)="onStrengthChanged($event)"
                                            [password]="user.password" externalError="true"  nableSpecialCharRule='false'>
            </mat-password-strength>
            <mat-password-strength-info
              [passwordComponent]="passwordComponentWithValidation" enableScoreInfo='true'>
            </mat-password-strength-info>
          </div>

        </div>
      </div>
    </div>
 -->
     <div class="row">
      <div class="col-12">
        <div class="form-group">
          <div class="checkbox">
            <label><input type="checkbox" name="policyTerms" [(ngModel)]="user.policyTerms" #policyTerms="ngModel" required><span></span>{{'pp'| translate}}</label>
              <span class='error-block' *ngIf="!user.policyTerms && submittedReg">
                <div>
                    {{'ppt'| translate}}
                </div>
              </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <button class="btn btn-primary btn-block btn-lg" type="submit">{{'register' |translate}}</button>
        </div>
        <div class="form-group text-center">
         {{'already-registered' |translate}}
          <a href="javascript:;" class="link"[routerLink]="[UrlConstants.LOGIN]">{{'login' |translate}}</a>
        </div>
      </div>
    </div>
  </div>
</form>
<!--End: -->
