<!-- Footer -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5">
                    <div class="footerlogo">
                        <a href="javascript:;" [routerLink]="['/main/home']" title="Loopkash"><img src="assets/images/loopkash.svg" alt="Loopkash"></a>
                    </div>
                    <p>{{'footer-d' | translate}}</p>
                </div>
                <div class="col-lg-8 col-md-7">
                    <ul class="footer-link">
                        <li><a href="javascript:;" [routerLink]="[UrlConstants.HOME]">Home</a></li>
                        <li><a href="javascript:;">{{'what-we-do' |translate}}</a></li>
                        <li><a [routerLink]="[UrlConstants.ABOUT_US]">{{'about' |translate}}</a></li>
                        <li><a [routerLink]="[UrlConstants.SERVICES]">{{'services' | translate}}</a></li>
                        <li><a [routerLink]="[UrlConstants.CONTACT_US]">{{'contact-us' |translate}}</a></li>
                    </ul>
                    <ul class="social-icon">
                        <li><a href="#" class="facebook" title="Facebook">Facebook</a></li>
                        <li><a href="#" class="twitter" title="Twitter">Twitter</a></li>
                        <li><a href="#" class="linkedin" title="Linkedin">Linkedin</a></li>
                        <li><a href="#" class="youtube" title="Youtube">Youtube</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>{{'copyright' |translate}} &copy; {{currentYear}} Loopkash. {{'rights' |translate}}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- /Footer-->
