
<div class="faq-page">
	<div class="faq-head">
		<div class="faq-search">
			<h3>How can we help you?</h3>
			<input type="text" class="form-control" placeholder="Type keywords to find answers" id="search" name="search" #search="ngModel"
			 [(ngModel)]="searchText" (ngModelChange)="searchFAQ()">
			<p>You can also browse the topics below to find what you are looking for.</p>
		</div>
	</div>
	<div class="box-padding">
		<div class="row">
			<div class="col-lg-4 col-md-6" *ngFor="let data of FaqList;let i=index; ">
				<h5><a href="javascript:;" [routerLink]="['/public/faq',data.uniqueId]">{{data.categoryFaqName}}</a></h5>
				<ul class="faq-list">
					<li *ngFor="let faq of data.faqInfo;"><a [routerLink]="['/public/faq',faq.uniqueId,data.uniqueId]" href="javascript:;">{{faq.title}}</a></li>
					<li [routerLink]="['/public/faq',data.uniqueId]" *ngIf="faqListArray[i].faqInfo?.length > 4 && !searchText"><a href="javascript:;"
						 class="link">View All Questions</a></li>
					<li [routerLink]="['/public/faq',data.uniqueId]" *ngIf="searchText && faqCount[i] > 4"><a href="javascript:;" class="link">View
							All Questions</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center">
				<a href="javascript:;" class="btn btn-primary" [routerLink]="['/']">Go to Dashboard</a>
			</div>
		</div>
	</div>
</div>
