
<!-- Data Table Start -->
<div class="table-responsive">
  <table sortable-table (sorted)="onSorted($event)" class="table table-striped nowrap">
    <thead>
      <tr>
        <th [sortable-column]="i" *ngFor="let i of tableSetupData?.cols">{{i.colName}}</th>
        <!-- <th class="text-center" sortable-column="BirthDay">{{tableData?.cols['name']}}</th> -->
       <!--  <th class="text-center" *ngIf="!isClassTeacher" sortable-column="StartDate">{{tableData?.cols['StartDate']}}</th>
        <th class="text-center" sortable-column="DaysAbsent">{{tableData?.cols['DaysAbsent']}}</th> -->
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let i of tableData.data;let y=index;">
      <tr  class="animated fadeIn" [attr.aria-expanded]="!i.isCollapsed" aria-controls="collapseBasic">
        <td *ngIf="tableSetupData?.isCheckbox"><input type="checkbox" name="policyTerms" [(ngModel)]="user.policyTerms" #policyTerms="ngModel" required><span></span></td>
        <td >{{i.author}}</td>
        <td >{{i.title}}</td>
        <td >{{i.author}}</td>
        <td >{{i.author}}</td>
        <td >{{i.title}}</td>
        <td *ngIf="tableSetupData?.actions"><button *ngFor="let i of tableSetupData?.actions" class="btn btn-primary" type="button" (click)="viewJobDetails()">{{i}}</button></td>
        <td *ngIf="tableSetupData?.isCollapsible"><i class="far fa-plus-square" style="font-size: 25px;" (click)="openDetails(y,i.isCollapsed,i)"></i></td>
        <!-- <td >654-342-1212</td> -->
        <!-- Dynamic when data will be from api : DO NOT REMOVE BELOW CODE -->
        <!-- <tr *ngFor="let i of datatableList" [ngClass]="dataSettings?.filter=='defectList'?'activeCursor':''">	

					<td *ngFor="let j of dataSettings.columns" [hidden]="!j.value" (click)="(dataSettings?.filter=='defectList')?redirectToTab(i):''">
						{{j.columnFieldName!='status'?(j.columnFieldName=='MTName'?(i[j.columnFieldName] | limitText:15 ):i[j.columnFieldName]):''}}
					</td>
					<td class="text-center actionbtn" *ngIf="dataSettings?.filter!='defectList'"> 
						<a class="m-btn--icon-only" [title]="'datatable.EditDetails'|translate" (click)="editData(i)">
							<i class="la la-edit"></i>
						</a>
						<a href="#" class="m-btn--icon-only" [title]="'datatable.Delete'|translate" (click)="deleteData(i)">
							<i class="la la-trash"></i>
						</a>
					</td>	
        </tr> -->
        

      </tr>
      <tr >
          <td colspan="5" [id]="collapseBasic+y" [collapse]="!i.isCollapsed">
              <div class="well well-lg">Some content</div>
            </td>
      </tr>
      </ng-container>
      
    </tbody>
  </table>
</div>

<div *ngIf="!tableData.data.length && !loading" class="record-not-found">
  <p>No records found!</p>
</div>




<!-- Pagination start -->
<div class="custom-pagination row" *ngIf="tableData.data.length">
  <div class="col-md-6">
    <ng-select (change)="rangeChanged(pageSizeValue)" [items]="rangeList" bindLabel="name" bindValue="id" placeholder="Select"
      [(ngModel)]="pageSizeValue" [clearable]='false' [searchable]='false' [dropdownPosition]="'auto'">
    </ng-select>
    <span class="record-count">Total Items: {{total}}</span>
  </div>
  <div class="col-md-6">
    <pagination [boundaryLinks]="showBoundaryLinks" [rotate]="'true'" [itemsPerPage]='pageSizeValue' [totalItems]="total"
      [maxSize]="5" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
      firstText="&laquo;" lastText="&raquo;">
    </pagination>
  </div>
</div>
<!-- Pagination end -->
<!-- Data Table End -->

