<style>
    .main-div{
      padding: 20px;
      border: 1px solid #eee;
      margin-bottom: 20px;
      color: #383D38 !important;
  }
  </style>
  
    <h3><b>{{'medical-service' | translate}}</b></h3>
   <!-- Breadcrumbs start-->
  <breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
  <!-- Breadcrumbs end-->
  
  
  <!-- service title start-->
  <div class="main-div">
    <app-service-title [isSubmitted]="isSubmitted" (titleData)="user.serviceTitle=$event"></app-service-title>
  </div>
  <!-- service title end-->

<!-- Patient info start-->
<div class="main-div">
    <h6>Patient address details</h6>
    <div class="row">
      <div class="col-4">
          <div class="form-group">
            <div class="input-effect">
              <input class='form-control'  type="text" name="patientName" [(ngModel)]="user.patientName"  required #patientName="ngModel">
              <label for="email">{{'patientName' | translate}}</label>
            </div>
            <div class="error-block" *ngIf="((isSubmitted || patientName.touched || patientName.dirty) && patientName.invalid)">
                {{showError('patientName', patientName.errors)}}
            </div>
          </div>
      </div>
      <div class="col-4">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control'  type="text" name="gurdianName" [(ngModel)]="user.gurdianName"  required #gurdianName="ngModel">
            <label for="email">{{'gurdianName' | translate}}</label>
          </div>
          <div class="error-block" *ngIf="((isSubmitted || gurdianName.touched || gurdianName.dirty) && gurdianName.invalid)">
              {{showError('gurdianName', gurdianName.errors)}}
          </div>
        </div>
      </div>
      <div class="col-4">
          <div class="form-group">
            <div class="input-effect">
              <input class='form-control'  type="text" name="city" [(ngModel)]="user.city"  required #city="ngModel">
              <label for="email">{{'city' | translate}}</label>
            </div>
            <div class="error-block" *ngIf="((isSubmitted || city.touched || city.dirty) && city.invalid)">
                {{showError('city', city.errors)}}
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-6">
          <div class="form-group">
            <div class="input-effect">
              <input class='form-control'  type="text" name="pPhone" [(ngModel)]="user.pPhone"  required #pPhone="ngModel">
              <label for="email">{{'patient-phone' | translate}}</label>
            </div>
            <div class="error-block" *ngIf="((isSubmitted || pPhone.touched || pPhone.dirty) && pPhone.invalid)">
                {{showError('pPhone', pPhone.errors)}}
            </div>
          </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control'  type="text" name="gPhone" [(ngModel)]="user.gPhone"  required #gPhone="ngModel">
            <label for="email">{{'guardian-phone' | translate}}</label>
          </div>
          <div class="error-block" *ngIf="((isSubmitted || gPhone.touched || gPhone.dirty) && gPhone.invalid)">
              {{showError('gPhone', gPhone.errors)}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Patient info end-->
  
  <!-- address start-->
  <div class="main-div">
    <h6>Patient address details</h6>
    <div class="row">
      <div class="col-6">
          <div class="form-group">
            <div class="input-effect">
              <input class='form-control'  type="text" name="address" [(ngModel)]="user.address"  required #address="ngModel">
              <label for="email">{{'address' | translate}}</label>
            </div>
            <div class="error-block" *ngIf="((isSubmitted || address.touched || address.dirty) && address.invalid)">
                {{showError('address', address.errors)}}
            </div>
          </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control'  type="text" name="city" [(ngModel)]="user.city"  required #city="ngModel">
            <label for="email">{{'city' | translate}}</label>
          </div>
          <div class="error-block" *ngIf="((isSubmitted || city.touched || city.dirty) && city.invalid)">
              {{showError('city', city.errors)}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
          <div class="form-group">
            <div class="input-effect">
              <input class='form-control'  type="text" name="state" [(ngModel)]="user.state"  required #state="ngModel">
              <label for="email">{{'state' | translate}}</label>
            </div>
            <div class="error-block" *ngIf="((isSubmitted || state.touched || state.dirty) && state.invalid)">
                {{showError('state', state.errors)}}
            </div>
          </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control'  type="text" name="country" [(ngModel)]="user.country"  required #country="ngModel">
            <label for="email">{{'country' | translate}}</label>
          </div>
          <div class="error-block" *ngIf="((isSubmitted || country.touched || country.dirty) && country.invalid)">
              {{showError('country', country.errors)}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- address end-->
  
  <!-- select services start-->
  <div class="main-div">
    <app-service-selection (selectedServices)="selectedServices=$event"></app-service-selection>
  </div>
  <!-- select services end-->
  
  <!-- Service Desc start-->
  <div class="main-div">
      <app-service-description [isSubmitted]="isSubmitted" (descData)="user.serviceDesc=$event"></app-service-description>
  </div>
  <!-- Service Desc end-->
  
  <!-- Service provides start-->
  <div class="main-div">
      <h6>Service Providers</h6>
      <app-data-table [tableSetupData]="tableSetupData" (selectedRecipient)="selectedRecipient=$event"></app-data-table>
  </div>
  <!-- Service provides end-->
  
  <button class="btn btn-primary btn-lg" type="button" >Cancel</button>
      
   <button class="btn btn-primary btn-lg" type="button" (click)="submitAuditServicePost()">Send </button>
  
  