<h6>Add Service Title</h6>
  <div class="row">
    <div class="col-6">
        <div class="form-group">
          <div class="input-effect">
            <input class='form-control'  type="text" name="serviceTitle" [(ngModel)]="user.serviceTitle"  required #serviceTitle="ngModel" (ngModelChange)=emitData(user.serviceTitle)>
            <label for="email">{{'service-title' | translate}}</label>
          </div>
          <div class="error-block" *ngIf="((isSubmitted || serviceTitle.touched || serviceTitle.dirty) && serviceTitle.invalid)">
              {{showError('serviceTitle', serviceTitle.errors)}}
          </div>
        </div>
    </div>
  </div>