<!--Begin: Header -->
<header class="inner-header">
    <div class="container">
        <div class="header">
            <h1 class="logo">
                <a href="javascript:;" [routerLink]="['/']" title="Lowda App">
                  <img src="assets/images/logo_innerpage.png" alt="lowda">
                </a>
            </h1>
            <nav>
              <ul class="MainNavigation">
                <li>
                  <a routerLinkActive="active" title="Home" [routerLink]="['/user/dashboard']" (click)='removeOpen()'>Home</a>
                </li>
                <li>
                  <a routerLinkActive="active" title="Rate Calculator" [routerLink]="['/user/rate-calculator']" (click)='removeOpen()'>Rate Calculator</a>
                </li>
                <li>
                  <a routerLinkActive="active" title="Withdrawal" [routerLink]="['/user/withdrawal']" (click)='removeOpen()'>Withdrawal</a>
                </li>
                <li>
                  <a routerLinkActive="active" title="Top Loader" [routerLink]="['/public/top-loader']" (click)='removeOpen()'>Top Loader</a>
                </li>
                <li>
                  <a routerLinkActive="active" title="Support & FAQ" [routerLink]="['/public/faq']" (click)='removeOpen()'>Support & FAQ</a>
                </li>
                <li>
                  <a routerLinkActive="active" title="Contact Us" [routerLink]="['/public/contact']" (click)='removeOpen()'>Contact Us</a>
                </li>
              </ul>
            </nav>
             <div class="navicon">
                <a class="nav-toggle" (click)='toggle()' href="javascript:;"><span></span></a>
            </div>
            <div class="header-right">
              <div class="notification-dropdown dropdown">
                <a href="javascript:;" data-toggle="dropdown" role="button" aria-expanded="false" (click)="this.getNotificationList();">
                    <span class="notification">
                      <i class="fa fa-bell-o" aria-hidden="true"></i>
                      <small class="badge">{{notificationCount}}</small>
                    </span>
                  </a>
                  <div role="menu" class="dropdown-menu dropdown-menu-center">
                    <div class="maxscroll">
                      <a href="javascript:;" class="dropdown-item" *ngFor="let notification of notificationData" (click)="redirect(notification)">
                        <h6>{{notification.message}}</h6>
                        <span>{{notification.createdAt}}</span>
                      </a>

                    </div>
                    <div class="seeall bottom-corner">
                      <a href="javascript:;" class="link" [routerLink]="['/user/notification-list']">
                       See All Notifications
                      </a>
                    </div>

                  </div>
              </div>
              <div class="profile-dropdown dropdown">
                	<a href="#" data-toggle="dropdown" role="button" aria-expanded="false">
                   	<span class="user-info">
                			<span class="user-pic"><img [src]="getProfile()" alt="Avatar"></span>
                      <span class="user-name d-none d-sm-block">{{getToken('username')}}</span>
                		</span>
                	</a>
                  <div role="menu" class="dropdown-menu dropdown-menu-right">
                    <div class="d-flex d-sm-none profile-detail">
                      <!-- <span class="user-pic"><img [src]="getProfile()" alt="Avatar"></span> -->
                      <span class="user-name">{{getToken('username')}}</span>
                    </div>
                    <a [routerLink]="['/user/profile']" class="dropdown-item"><i class="fa fa-user" aria-hidden="true"></i>My Profile</a>
                    <a href="javascript:;" (click)="logout()" class="dropdown-item"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                  </div>
              </div>
            </div>
        </div>
    </div>
</header>
<!--End: Header -->
