<style>
  .main-div{
  	padding: 20px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    color: #383D38 !important;
}
</style>

  <h3><b>{{'ledger' | translate}}</b></h3>
 <!-- Breadcrumbs start-->
<breadcrumb [breadcrumbs]="breadcrumbs"></breadcrumb>
<!-- Breadcrumbs end-->


<!-- Select amount start-->
<div class="main-div">
	<div>
    <tabset>
      <tab [heading]="'user-deposit' | translate" id="tab1">
        <h1>User Deposit content</h1>
      </tab>
      <tab [heading]="'recipient-payment' | translate">
        <h1>recipient payment content</h1>
      </tab>
      <tab [heading]="'current-funds' | translate">

          <div class="row">
            <div class="col-3">
                Select Period to show inactivity
            </div>
            <div class="col-5">
                <app-date-range-picker></app-date-range-picker>
            </div>
            <div class="col-4">
              <app-status-filter></app-status-filter>
            </div>
          </div>
        
        <app-data-table [tableSetupData]="tableSetupData" (selectedRecipient)="selectedRecipient=$event"></app-data-table>
      </tab>
     
    </tabset>
  </div>
</div>
<!-- Select amount end-->